[2017-03-07 18:59] keith opened #3 "Migrating projects does not take xcconfigs into account"
I attempted to `--migrate` our project using struct and end up with this error:

[code]

The problem is [here](https://github.com/lyptt/struct/blob/421aa21b32f43c00800928b6f27411e61c157eac/lib/migrator/migrator.rb#L60). This is caused because our entire project configuration is in xcconfigs, meaning we have 0 build settings in the `project.pbxproj`, which what causes this issue.

I'm not sure this

[2017-03-07 19:03] lyptt commented on #3
Hey Keith, thanks for reporting this!

That sounds like a decent solution to me, I'll work on this and get a new release out this week. Struct doesn't support including xcconfigs into generated projects, since xcconfigs become a bit redundant when using spec files, but for the migration process I think there's definitely a benefit in reading in any xcconfig settings when migrating projects.

I'll

[2017-03-07 19:08] keith commented on #3
Awesome! That sounds great. On the note about xcconfigs being redundant, I can see that, but I actually think having the build configuration there, instead of in the yaml file for struct would be an advantage for a few reasons:

- It would be easier to transition to any other tool as we see fit, since our configs should be supported anywhere
- We get a level of inheritance in our configs. Currentl

[2017-03-07 19:19] lyptt commented on #3
Hi Keith, that sounds reasonable actually. Supporting xcconfigs isn't that difficult, as the underling library we use [Xcodeproj](https://github.com/CocoaPods/Xcodeproj) allows you to specify xcconfig files when generating target or project configuration objects.

One possible solution would be to associate them in an all or nothing scenario:

[code]

This would mean that you could either go with

[2017-03-07 19:20] keith commented on #3
Awesome, definitely! Thank you!

[2017-03-07 19:20] keith commented on #3
Related, we've been looking at [gyp](https://gyp.gsrc.io/) a lot lately for a similar tool as struct.

[2017-03-07 19:25] lyptt opened #4 "Add support for xcconfig in project generation"
Currently struct has no support for xcconfig files as a source for configuration settings.

Proposed schema adjustment would be as follows:

[code]

This would replace any existing sources for reading in configuration settings.

Parsing flow as follows:

- If configuration value is a string, treat this as a file reference to an xcconfig file
- If an xcconfig file has been specified, ignore any pro

[2017-03-07 19:34] lyptt opened #5 "Add support for multiple options with run script ordering"
Currently run scripts are only added to the end of the build phases list. This enhancement will allow for run scripts to be added to the start or end of the list via an extension to the current schema.

Proposed schema adjustment would be as follows:

[code]

Parsing flow as follows:

- If `scripts` value is a hash, look for `prebuild` and `postbuild` keys
  - Validate `prebuild` and `postbuild` a

[2017-03-07 20:36] #3 closed

[2017-03-07 20:43] lyptt commented on #3
This is now fixed in struct 1.0.1. Thanks for reporting the issue!

[2017-03-07 21:40] lyptt opened #7 "Add support for including Cocoapods dependencies as framework references"
Currently Cocoapods are incompatible with struct, this is due to the fact that Cocoapods rewires projects whenever you run `pod install`. This enhancement will allow for framework references to be specified that target entries in a Podfile, and enable struct to automatically perform the necessary project adjustments needed to link to pods.

Proposed schema adjustment would be as follows:

[code]

[2017-03-08 20:12] #4 closed

[2017-03-08 20:15] lyptt commented on #4
@keith Xcconfig support is now built into struct 🚀

You can give the new functionality a go before its official release by cloning the codebase and running `rake install`, otherwise expect a new release by the end of the week.

[2017-03-08 20:19] lyptt opened #9 "Add xcconfig support to Xcode project migrator"
Currently the project migrator parses xcconfig files and merges any configuration settings directly into the spec file. This should be adapted to make use of spec 1.2.0's native support for xcconfig files.

Adjustments as follows:
- Update `StructCore::SpecWriter12X ` to support writing xcconfig references
- Update `StructCore::Migrator` to target spec 1.2.0
- Update `StructCore::Migrator` to writ

[2017-03-08 20:29] lyptt opened #10 "Allow for project generation to be more granular"
Currently when running `struct --generate` with a multi-variant spec file, all of the projects in the spec file are generated.

You may not always need to generate every single project however, so the generation command should allow for specifying the variants you wish to generate. This would speed up iterating on one particular variant, as the more variants you add, the slower the generation proc

[2017-03-08 21:31] keith commented on #4
Thanks! I'll try and try it out soon!!

[2017-03-08 21:54] lyptt opened #12 "Additional run scripts cannot be added with variants"
Currently when generating target variants, additional run scripts are not appended to the targets.

[2017-03-08 23:33] #5 closed

[2017-03-08 23:33] #12 closed

[2017-03-09 20:45] #9 closed

[2017-03-10 14:22] lyptt opened #14 "Source file override precedence is inverted"
In the documentation, it's detailed that every subsequent `sources` entry will override the previous. In practice it's the opposite way around, with every previous `source` enty overriding the next.

This should be fixed so that it it matches the documentation and intended behaviour.

This is usually not an issue unless you make use of multiple `sources` entries in a target, or a variant target, a

[2017-03-10 19:13] snej opened #15 "More detailed installation instructions"
It doesn't seem to be quite as simple as `gem install struct`, at least not for people on a standard macOS 10.12 system.

* `gem install struct` fails with a filesystem permissions error.
* `sudo gem install struct` gets farther, but ends with:
[code]

I'm guessing the next step is to use Homebrew to install Ruby so I get a newer version than what's in the OS? (And of course a dependency of _that_

[2017-03-10 19:19] lyptt commented on #15
Hi @snej, currently struct requires at least ruby 2.2.5. Usually when installing gems on macOS, it's best to have a user-local version of ruby, rather than using the system one.

The reason why this is the case, is that the system version of ruby isn't really intended for general day to day use, it's bundled with the system because various system components require it, or at least this is how I un

[2017-03-10 19:37] lyptt opened #16 "Assess if Ruby 2.0.0 is sufficient for struct"
Currently struct targets Ruby 2.2.5 as a minimum. This task is to investigate if Ruby 2.0.0 is sufficient for struct to operate, as this will allow for simpler installation on the system-provided ruby that ships with macOS 10.12.

[2017-03-10 19:38] lyptt commented on #15
The issue of struct's minimum ruby version is now being tracked in #16, please follow #16 to stay updated on this.

I've updated the readme to clarify the situation with local ruby versions. Thanks for filing this issue!

[2017-03-10 19:38] #15 closed

[2017-03-10 19:48] lyptt commented on #16
Initial assessment as follows:

- `paint`:  Unsupported on 2.0.0, but might still work
- `listen`: Requires downgrade from 3.X to 1.X
- `semantic`: Unclear, may work with 2.0.0, needs testing
- `excon`: Unclear, may work with 2.0.0, needs testing
- `ruby_deep_clone`: Unclear, may work with 2.0.0, needs testing

[2017-03-10 20:40] a2 opened #17 "Trying to migrate CocoaPods-using project fails"
I tried to migrate my project, which uses CocoaPods, and I think it's not understanding that the `Pods-<Project>.debug.xcconfig` file has a path relative to the parent `Pods` group which is not only its file name? I'm not sure though.

[code]

[2017-03-10 20:46] lyptt commented on #17
Hi @a2, thanks for filing this issue!

Unfortunately struct doesn't currently support CocoaPods, this issue is being tracked with #7. It's quite a complex issue to solve due the nature of CocoaPods rewiring projects when you `pod install`, but I'm confident I can get this working for the next major release.

In terms of this specific issue, I believe this is caused by the fact that CocoaPods build

[2017-03-10 21:39] #17 closed

[2017-03-10 21:40] lyptt commented on #17
Hi @a2, the error part of this issue is now fixed. Please track #7 for further developments on CocoaPods support. Thanks again for filing this issue!

[2017-03-10 23:30] lyptt commented on #16
Libraries appear to mostly work under Ruby 2.0.0, however currently there would be too many code changes required to struct to backport it to 2.0.0. Considering Ruby 2.0.0 has been marked as unmaintained for quite some time, I believe it's sensible to stick with the current target of Ruby 2.2.5.

[2017-03-10 23:30] #16 closed

[2017-03-11 19:56] TofPlay opened #19 "Swift Scripting"
Interesting tool 🙂
But why do you use Ruby? 😰
In the Apple world we already have an excellent language for this kind of tool: Swift
Swift can also be used to make iOS, macOS applications and on the server too but as well as to make scripts.

Take a look at these articles/videos:
* [Scripting in Swift is Pretty Awesome](https://goo.gl/OiQ8xI)
* [A Beginner’s Guide to Scripting in Swift](https://goo

[2017-03-11 20:04] lyptt commented on #19
Hi @TofPlay, thanks for filing this issue!

The only reason I chose to use Ruby for this tool was because of the excellent library [Xcodeproj](https://github.com/CocoaPods/Xcodeproj), which is the most robust and fully featured library for reading and writing Xcode project files.

Xcodeproj is the only library that supports working with all of the features in an Xcode project, and it's guaranteed

[2017-03-11 20:04] #19 closed

[2017-03-12 09:44] lyptt opened #20 "Add DSL as an alternative to YAML and JSON"
There are two schools of thought with tools like this, one side preferring standard structured file formats like YAML and JSON, and the other preferring native DSLs.

A DSL allows for a lot of flexibility in how projects are defined. For example, being able to embed metadata into projects at generation time, dynamically building up lists of variants to keep your spec files simple and easy to under

[2017-03-12 12:50] jcampbell05 opened #22 "Merge Xcake into this"
Hey so I've been working on something similar for the last year and I think rather than us competing it would be great for maybe my project to merge some of its features into this one.

😀 It already has things like the DSL you would like so it would be interesting to see where we can collaborate

Here is the link to my repo https://github.com/jcampbell05/xcake

[2017-03-12 12:57] lyptt commented on #22
Hey @jcampbell05, thanks for filing this issue.

I'm definitely open to this! It seems like our projects have similar goals, and the more contributors on this project, the better in my opinion.

I'm just about finished up with the `struct` DSL, however looking over your DSL I've noticed it's much higher level than `struct`'s. I'd propose us breaking down which features each tool has, and seeing wh

[2017-03-12 13:08] lyptt opened #23 "Deprecate spec 1.0.0"
`struct` is a fast-moving tool, with enhancements being released weekly for the spec format. As spec files are semantically versioned, new parser versions are introduced for each format.

Parsers are guaranteed to be backwards-compatible within the same major version, so this task is to explore how we can deprecate older versions of the spec format without obstructing the tool's end users. By depr

[2017-03-12 13:53] #20 closed

[2017-03-12 14:44] #10 closed

[2017-03-12 17:08] jcampbell05 commented on #22
@lyptt Sounds like a plan.

So currently I have a list of what can be done in the Xcake DSL here:
https://github.com/jcampbell05/xcake/blob/master/docs/Xcode%20Project%20Support.md

Here is the syntax reference to help understand how this translates to our DSL:
https://github.com/jcampbell05/xcake/blob/master/docs/Cakefile.md

[2017-03-12 17:34] lyptt commented on #22
From what I can see on the documentation you've provided, there's a few areas that `struct` currently doesn't approach:

- Setting class prefixes - Objective-C support is still quite new to `struct`, so this will need adopting. This tool is primarily aimed at Swift projects, so this functionality has yet to be added.
- Setting organization information

There's other areas that I'm not certain `str

[2017-03-12 17:57] lyptt opened #25 "Struct public API audit"
From the get-go `struct` was planned to be both a useful developer tool, _and_ a library with friendly API for use in larger tools and more complex environments.

This task is to review the current API available in `struct`, in order to ensure it's fit for purpose as a library as well as a development tool.

Proposed tasks:
- [ ] Ensure any publicly accessible APIs are fully documented
- [ ] Ensur

[2017-03-12 18:40] jcampbell05 commented on #22
Awesome I'll look into how to achieve these.

So the reason we have this is some users build libraries where they need custom schemes outside of the one per target and would like one per target and scheme so they can have a "App-Debug" or "App-Release"

True, I was considering deprecating this in Xcake.

This was to specify if an App supports iPhone, iPad or is a Universal App.

So for some people

[2017-03-12 18:45] #14 closed

[2017-03-12 18:46] jcampbell05 commented on #22
Also I have a fastlane plugin I can contribute :)

[2017-03-12 18:55] lyptt commented on #22
@jcampbell05 thanks for the answers, very helpful!

For specifying the device, isn't this usually controlled by a plist setting? I may be misremembering however. If it's configured on a target level, we can definitely add it in!

For swiftlint, you can use the 'scripts' functionality currently built into struct. These are the only phases struct currently supports adding to a project, due to their

[2017-03-12 18:58] lyptt commented on #22
@jcampbell05 A Fastlane plugin sounds like a great idea! One of the workflows I intended struct to be used in was where xcodeproj files would be gitignored and generated as part of an automated build process, so a simple means of achieving this in an automated fashion would be a great thing indeed 👍

[2017-03-12 19:04] lyptt commented on #22
@jcampbell05 [Traveling ruby](https://phusion.github.io/traveling-ruby) may be a decent option to simplify the installation of this tool. This way we can package up the required version of ruby with the ruby runtime itself.

This packaged build could then be registered via [Homebrew](https://brew.sh/) much like Fastlane currently is. This should make the tool much more accessible to people that ar

[2017-03-12 19:21] lyptt opened #27 "Investigate bundling struct with ruby to simplify installation"
As mentioned in #15 and #16, currently it's not as easy to install `struct` as it should be, due to the requirement of Ruby 2.2.5.

The investigation into downgrading to Ruby 2.0.0 resulted in it being brought to light that a few of the libraries `struct` makes use of would be unsupported, buggy or non-functional on this version. It would also require refactoring a large part of the codebase due t

[2017-03-12 20:16] maximkhatskevich commented on #22
@lyptt you may find it useful to take a look on this (very short) conversation about pros and cons of why you would like to gitignore or not the project file if you are using project generation tool like Xcake or Struct: https://github.com/jcampbell05/xcake/issues/141#issuecomment-280148162

[2017-03-12 20:22] lyptt commented on #22
@maximkhatskevich Yeah, I agree with the sentiments there. I actually use both workflows myself, it really depends on your needs for your CI environment, and there's two schools of thought on how to approach this kind of tooling. Good to see it's not just me thinking about this!

[2017-03-12 23:21] lyptt commented on #22
@jcampbell05 If you're unhappy about continuing with integrating Xcake into this repository, I'll go ahead and close this issue for now.

I'd prefer to work together than apart, but it's entirely up to you 😀

[2017-03-12 23:29] jcampbell05 commented on #22
@lyptt :) so I agree

Okay that makes sense :)

so I think there are two types of people, people who like there schemes to be per target i.e "MyApp" and what build settings it uses depends on the build method.

And those who like to have a scheme per target and build configuration combination so they can easily select the target and build configuration from the scheme list.

Does this work for pro

[2017-03-12 23:30] jcampbell05 commented on #22
Sure I would love to carry on working :) I may have to keep supporting Xcake for a little while as I know some people still use it and prefer it but I think we could benefit from working together and close the gap between the tools.

[2017-03-12 23:45] lyptt commented on #22
Targets within the project can be added as references through a manual declaration, in the DSL this would be `target_reference 'target_name'`

I think my solution of bundling struct up with ruby and distributing it may be the simpler option, and have less headaches in the future. This way we're not dependent on what version of ruby Apple ships with.

Setting project names is done quite easily with

[2017-03-12 23:48] lyptt commented on #22
Since the items discussed are more of a long-term goal, it's probably wise to break out any additions into separate issues / PRs, so I'll close this ticket for now. Thanks again for filing this issue, it's good to have your support!

[2017-03-12 23:48] #22 closed

[2017-03-12 23:57] lyptt opened #30 "Update config templates to target latest SWIFT_VERSION and deployment target"
In order to keep the configuration templates useful, SWIFT_VERSION and deployment target settings should be updated to match Xcode 8.2.1.

[2017-03-13 08:42] jcampbell05 commented on #22
@lyptt cool :) I'll file some issues to help break these down. Excited to start becoming a contributor :)

[2017-03-13 17:47] TofPlay commented on #19
@lyptt  [SwifPM](https://github.com/apple/swift-package-manager) is able to generate Xcode project. So you can take a look at [swift-package-manager/Sources/Xcodeproj](https://github.com/apple/swift-package-manager/tree/master/Sources/Xcodeproj)

[2017-03-13 17:49] lyptt commented on #19
Hi @TofPlay, we're going with an alternative way to ensure you don't need to install another version of Ruby to use `struct`. You can track this work in #27. Thanks!

[2017-03-13 18:25] #7 closed

[2017-03-13 18:27] maximkhatskevich opened #31 "What's the recommended way of connecting unit tests targets with the framework targets?"
Hi! I'm developing an iOS framework and decided to try Struct for project generation. Everything is good so far, but I didn't get it how to make the Struct create scheme for the framework target that automatically configured properly for unit tests. Out of the ox, after I regenerate project with Struct, the scheme that is being created by Struct does not configure the "Test" scenario properly with

[2017-03-13 19:05] TofPlay commented on #19
With Swift and SwiftPM you can generate a binary directly. No need to deal with ruby environment. We just have to copy the binary our Mac 🙂

[2017-03-13 19:21] lyptt commented on #31
Hi @maximkhatskevich! Turns out struct wasn't doing a couple of things it needs to for unit tests to work properly with frameworks.

I've gone ahead and fixed this up. I intend to get a release of struct out very shortly with all the improvements made so far, so you should see this in a couple of hours.

To get an idea of how you would go about doing this in struct 1.2.0, check out the [example fr

[2017-03-13 19:21] #31 closed

[2017-03-13 19:24] maximkhatskevich commented on #31
Great, thanks! I look forward to the release!

[2017-03-13 19:26] lyptt commented on #19
Hi @TofPlay, unfortunately I don't see it as feasible or a particularly good idea to rewrite the application in Swift from the ground up. `struct`'s codebase is becoming well established and stable, and I don't feel particularly good about throwing all of that away.

Ruby's a great language for tooling, and it's proven to have been a great choice so far in `struct`'s development. The issue of havi

[2017-03-13 19:29] maximkhatskevich opened #32 "Project variant name to keep letter case as in the project.yml"
Currently, if I declare project variant 'Main' Struct creates project file with name 'main.xcodeproj', so it's case insensitive and always convert the provided name into lower case, which is unexpected and undesired behavior. Having some letters in Capital helps to easier read the name of the project and follow overall project naming conventions.

Is there a way to preserve letter case as it is sp

[2017-03-13 19:38] maximkhatskevich opened #33 "Apply build settings to all configurations at once"
When under a target you define build settings like this:

[code]

... and not like this:

[code]

(defining build settings right under 'configuration', not under a 'configurations' and then under one of the specific configurations like 'Debug' or 'Release') - does it mean you apply these settings to all configurations at once or is it a bug in the example?

Based on that: https://github.com/lyptt/

[2017-03-13 19:57] lyptt commented on #33
Yes this is indeed a feature of the spec format, you can apply the same configuration settings to all configuration profiles at once. You can take a look at the [documented sample project](https://github.com/lyptt/struct/blob/master/examples/iOS_Application/project.yml) to see this in more detail.

[2017-03-13 19:57] #33 closed

[2017-03-13 20:00] TofPlay commented on #19
Personally for my iOS and macOS projects I don't use any tool that is not provided as a binary. In the past I lost a lot of time with tools written in ruby. I'm not a ruby developer and I'm not interested in becoming one. I prefer to spend my time on my projects or learn more about Swift.
I still thought `struct` is a good idea but sorry I will not use it. If you change your mind about Swift tell

[2017-03-13 20:10] lyptt commented on #19
@TofPlay as described in #27, `struct` will be packaged as a flat binary installed via Homebrew in the future, so this should achieve what you're looking for. Thanks for your feedback!

[2017-03-13 20:10] #30 closed

[2017-03-13 20:15] maximkhatskevich commented on #33
Great, thanks!

[2017-03-13 20:15] lyptt commented on #32
Hi @maximkhatskevich, good point! I'm perfectly happy to disable any transformation on the project file naming for variants. Expect this to be implemented soon!

[2017-03-13 20:18] maximkhatskevich commented on #32
Okay, cool. Also, same rule would be good to apply for configuration names. Thanks!

[2017-03-13 20:23] lyptt commented on #32
Hi @maximkhatskevich, we don't actually transform configuration names, they default to 'debug' and 'release' as this is the naming convention for most of struct's default project generation.

If you want differently named configurations, you can specify the configuration type - this behaves very similar to CocoaPods, for example:

[code]

For more information about how configurations are defined,

[2017-03-13 20:24] maximkhatskevich commented on #32
Okay, got it.

[2017-03-13 20:35] maximkhatskevich commented on #32
By the way, @lyptt how do I specify type of a custom named Build Configuration in the new Ruby format (Specfile)?

something like this?

[code]

or should it be `type :release` or `type ':release'`??

[2017-03-13 20:37] lyptt commented on #32
Hi @maximkhatskevich, for the DSL you can specify things like 'type' as symbol (`:release`) or a string (`'release'`). The DSL is flexible in this regard so it's purely stylistic.

[2017-03-13 20:39] maximkhatskevich commented on #32
Thanks! I do not know Ruby, only been using it with CocoaPods and Xcake so far, so I rely completely on examples :)

[2017-03-13 20:41] lyptt commented on #32
Sure! When in doubt, use strings 🙂 I intend to fully document where symbols are accepted in the DSL soon!

[2017-03-13 20:42] maximkhatskevich commented on #32
Okay, noted.

[2017-03-13 21:20] maximkhatskevich opened #34 "How to make Struct start using the new Specfile format?"
I've prepared a Specfile, removed the project.yml file and executed `struct --generate` in Terminal, and go this: `Could not find project.yml or project.json in the current directory`

[2017-03-13 21:23] lyptt commented on #34
Hi @maximkhatskevich, as indicated in the [Specfile documentation](https://github.com/lyptt/struct/wiki/Specfile-format%3A-v1.2) the Specfile DSL is being introduced in `struct` 1.2.0, which is due for release in about 10-15 minutes (waiting on travis builds first!)

If you want to grab this functionality early, feel free to clone the project, then run `rake install` from the root directory. This

[2017-03-13 21:23] #34 closed

[2017-03-13 21:24] maximkhatskevich commented on #34
oops, my bad :) okay, waiting for the release. If I'm watching on the repo, I guess I should receive a notification of some kind when you release?

[2017-03-13 21:25] lyptt commented on #34
Yup! I do standard github releases, so you should see a handy notification when this is good to go! `struct` will also notify you of new versions as they're made available as you use it 👍

[2017-03-13 21:27] maximkhatskevich commented on #34
Cool! Thanks man! Waiting for it. Want to make Struct work for my project today :)

[2017-03-13 21:29] lyptt commented on #34
No problem! If you have any further issues integrating `struct`, let me know. If they're quick fixes I usually do them within the hour 👍

[2017-03-13 22:29] maximkhatskevich opened #35 "v.1.2 does not work"
Installed the new release and tried to run `struct --generate` with a Specfile presented in the folder. Got this message: `wrong number of arguments (0 for 1)`. Not sure what does it mean. Any ideas?

[2017-03-13 22:31] maximkhatskevich commented on #35
`struct --parse` returns the same

[2017-03-13 22:36] lyptt commented on #35
Hi @maximkhatskevich, I'm not entirely sure why that's happening I'm afraid. Does this occur for any of the example projects?

[2017-03-13 22:37] maximkhatskevich commented on #35
Let me check actually

[2017-03-13 22:38] maximkhatskevich commented on #35
Please note, that I have a Specfile in my folder, but your examples are with project.yml

[2017-03-13 22:39] maximkhatskevich commented on #35
Works well for the  framework example

[2017-03-13 22:39] lyptt commented on #35
Hi @maximkhatskevich, the main documented example contains a Specfile, and this is what's evaluated for this project. When a project.yml and Specfile are both present, the Specfile is chosen.

[2017-03-13 22:39] maximkhatskevich commented on #35
let me see

[2017-03-13 22:40] lyptt commented on #35
@maximkhatskevich this sounds like an issue with the DSL then, could you please upload your Specfile so I can take a look?

[2017-03-13 22:40] maximkhatskevich commented on #35
when I migrate a project - can I choose Specfile output?

[2017-03-13 22:40] lyptt commented on #35
@maximkhatskevich DSL support for migration is still being planned out, this will most likely land in `struct` 1.3.0. Stay tuned for updates!

[2017-03-13 22:41] maximkhatskevich commented on #35
okay. the App example works well.

[2017-03-13 22:42] lyptt commented on #35
Thanks for confirming that @maximkhatskevich. Most likely one of the DSL methods you're calling has the wrong number of arguments, which is the reason why that error is thrown.

If you could upload your Specfile, I can take a quick look and help you fix the issue.

[2017-03-13 22:43] maximkhatskevich commented on #35
Here is my Specfile:
https://www.dropbox.com/s/klq2b8gc34qtxmy/Specfile?dl=0

[2017-03-13 22:45] maximkhatskevich commented on #35
Do I use Ruby features in an unexpected way? Variables are not supported? Trying to automate my workflow as much as possible.

[2017-03-13 22:46] maximkhatskevich commented on #35
IN case of an error, a hint on line number in Specfile where an issue happened would be much appreciated :)

[2017-03-13 22:52] maximkhatskevich commented on #35
Oops, I definitely see 2 errors in syntax where I copied build settings from YAML and didn't wrap it properly into Ruby format - 'DEFINES_MODULE' and 'SKIP_INSTALL'.

[2017-03-13 22:54] maximkhatskevich commented on #35
installed struct-1.2.1. Still see the same issue. Trying to simplify the Specfile to nail down the issue.

[2017-03-13 22:55] lyptt commented on #35
Hi @maximkhatskevich, I've diagnosed the issue!

Firstly, the `configuration` declaration you've defined outside of a target level is only supported within targets. For project-level configuration, you must always declare your configuration settings for each build configuration.

Secondly, as you've mentioned, there's a few build settings that still use YAML syntax. Fix both of those up and you sh

[2017-03-13 22:57] maximkhatskevich commented on #35
Okay, got it. Fixing now and will let you know shortly. Please, confirm that using variables and string concatenation is totally valid for Specfile?!

[2017-03-13 22:57] lyptt opened #36 "Add friendlier validation for Specfile DSL methods"
Currently if you pass the wrong number of arguments to DSL methods, you get a very unhelpful error message:

[code]

In order to be able to provide more information, any DSL method should be updated to accept any number of arguments, which should then be translated into the expected argument names.

By doing this, we can properly validate the number of arguments a method gets and throw a more usef

[2017-03-13 22:58] lyptt commented on #35
@maximkhatskevich Yes variables are perfectly valid! You can also use functions and any other Ruby syntax you like. This was the main idea behind supporting DSLs, as this allows you to use these features in your DSL for more flexible project generation.

[2017-03-13 23:00] lyptt commented on #35
I'm also now tracking #36 to make the error messages for invalid arguments a bit more meaningful.

[2017-03-13 23:00] maximkhatskevich commented on #35
Great and thanks for that! Not being able to dynamically construct string values from concatenation/patterns in YAML was a big pain, actually.

[2017-03-13 23:31] maximkhatskevich commented on #35
@lyptt I changed the Specfile, now I have another issue:

`uninitialized constant StructCore::SpecBuilderDsl::CommonSettings`

Here is the Specfile: https://www.dropbox.com/s/p4jgkcwjrb8s4di/Specfile?dl=0

[2017-03-13 23:32] maximkhatskevich commented on #35
I'm trying to reuse the shared settings as I'm reusing shared Pods in Podfile via `def ...` declaration. Isn't it supported?

[2017-03-13 23:36] lyptt commented on #35
Hi @maximkhatskevich, for functions, I believe these must be declared in the correct scope. You could try declaring the function within the spec() statement, this may add it to the correct scope within the file, however I'm not well-versed enough on this aspect of metaprogramming to give you a solid answer.

I'd like to investigate this a bit further myself, as Fastlane for example is perfectly ca

[2017-03-13 23:37] maximkhatskevich commented on #35
Okay, let me try.

[2017-03-13 23:39] maximkhatskevich commented on #35
Nope. same result if everything is inside the 'spec' declaration :(

[2017-03-13 23:40] lyptt commented on #35
Yeah, sounds like there's some tweaks we could do to improve this scenario for sure! I'll make sure it gets tracked for a future release.

[2017-03-13 23:41] maximkhatskevich commented on #35
Okay, thank you.

[2017-03-14 00:21] maximkhatskevich commented on #31
This seems to be not fixed even in the 1.2.1

[2017-03-14 00:25] lyptt commented on #31
@maximkhatskevich Can you try generating the framework example? This should produce a project with a testable framework.

[2017-03-14 00:27] maximkhatskevich commented on #31
I confirm, the example framework project has framework scheme configured properly with the unit tests target. I'll try to compare my project.yml with the example one.

[2017-03-14 00:31] maximkhatskevich commented on #31
I use a variable for the framework target and connect the unit tests target with the framework target using refernce/variable as well like this:

[code]

Do you think this might be the reason?

[2017-03-14 00:36] maximkhatskevich opened #37 "IPHONEOS_DEPLOYMENT_TARGET issue"
Here is my config: https://www.dropbox.com/s/o10vsr2r5kcke5o/project.yml?dl=0

I included `IPHONEOS_DEPLOYMENT_TARGET` setting into `CommonSettings`:

[code]

then I include them into each configuration on project level:

[code]

but when I'm trying to generate the project, I'm getting strange error as follows:

`[Xcodeproj] Consistency issue: build setting `IPHONEOS_DEPLOYMENT_TARGET` has multipl

[2017-03-14 00:45] maximkhatskevich commented on #31
I had 2 entries of "references:" under the same target, this was the issue. It works if I merge them into one statement. Feel free to close this issue!

[2017-03-14 00:46] maximkhatskevich commented on #31
Thanks for the help!

[2017-03-14 00:46] maximkhatskevich commented on #37
'IPHONEOS_DEPLOYMENT_TARGET' produces really strange issues.

[2017-03-14 00:47] maximkhatskevich commented on #37
Errors happen even when I remove this setting from CommonSettigns and put on framework target level explicitly for each configuration.

[2017-03-14 00:48] maximkhatskevich commented on #37
but it works well as soon as I comment/remove these properties at all.

[2017-03-14 07:04] lyptt commented on #37
Hi @maximkhatskevich, this is most likely due to your targets including profiles which set a default deployment target of 10.2. If you need a specific deployment target, make sure to override it on all of your configurations at a project and a target level.

[2017-03-14 07:04] #37 closed

[2017-03-14 07:09] lyptt commented on #35
Since all questions have been answered I'm closing this issue. Please file a new issue if you get stuck again!

[2017-03-14 07:09] #35 closed

[2017-03-14 12:33] maximkhatskevich commented on #37
Adding this property into each of the blocks with overrides  (under each Build Configuration on project level, framework target level and unit tests target level) really helped to solve the issue. Thank you!

[2017-03-14 13:58] lyptt commented on #37
Good to hear! 🚀

[2017-03-14 19:11] jcampbell05 opened #38 "Add a Fastlane Plugin"
In Xcake we have a nice Fastlane plugin alot of users take advantage of, Struct should consider implementing it's own and advertising it on the repo.

Happy to implement.

[2017-03-14 19:12] jcampbell05 opened #39 "Public Headers"
In Xcake a lot of our users use it to generate projects for frameworks so we included a DSL for them  to specify what headers to make public. Struct should have the same.

Let me know if you need help.

[2017-03-14 19:13] jcampbell05 opened #40 "Embed Library"
In Xcake some of our users need a way to embed or link to a library generated by a target in their project in another target.

It would be great if Struct could do this too (I use this for a couple of things).

[2017-03-14 19:14] lyptt commented on #39
Hi @jcampbell05, yes currently all headers are made public in struct. Currently I don't have a clear idea of how to achieve this that fits into the current structure of spec files in struct. I'm happy to accept any ideas on this!

[2017-03-14 19:15] jcampbell05 commented on #39
@lyptt So how would we currently do it maybe I can brainstorm some ideas :)

[2017-03-14 19:15] jcampbell05 opened #41 "Add flags to source code"
In Xcake we have a request to support addinga flag to a certain compiled file, I think we should look at adding this to Struct.

[2017-03-14 19:15] lyptt commented on #40
Hi @jcampbell05, yes embedding local libraries is definitely something struct should support. This would be primarily used for extending Objective-C support, as Swift targets are always embedded frameworks due to the necessity to bundle the Swift runtime.

[2017-03-14 19:16] jcampbell05 opened #42 "Aggregate Target"
I've had a request in Xcake for support for aggregate targets we should look into adding this to struct.

[2017-03-14 19:16] lyptt commented on #41
Hi @jcampbell05, what flags would you usually need to add? `-W` and the like?

[2017-03-14 19:16] jcampbell05 opened #43 "Replicate high level DSL from Xcake"
In Xcake we had a high level DSL we could use as a superset, things like generating a unit test for a target. Their was some discussion about adding this to Struct.

[2017-03-14 19:17] jcampbell05 opened #44 "Objective-C Support"
Xcake currently supports Objective-C so we should consider adding this as well as other Objective-C features like Class Prefixes etc.

[2017-03-14 19:17] lyptt commented on #42
Hi @jcampbell05, aggregate targets are usually used to make managing dependencies between targets simpler. Struct already makes this easy and takes care of the hard work for you, so I'm not currently convinced this will be an essential feature. I'm happy to discuss this further however!

[2017-03-14 19:18] lyptt commented on #44
Hi @jcampbell05, struct has support for Objective-C targets built in, however this definitely can be refined. If there are specific cases in which refinements can be made, feel free to suggest them as individual issues!

[2017-03-14 19:18] #44 closed

[2017-03-14 19:18] jcampbell05 commented on #41
@lyptt things such as that, there are things you can apply like `ARC` that change how a file is compiled. I realise that it's deprecated but I know people use it.

Maybe this is something better handled by `.xcconfig`.

Personally I never use the flags.

[2017-03-14 19:20] jcampbell05 commented on #42
@lyptt nope I rarely use them these days especially since I use Xcake and Cocoapods. So I would imagine this would make no difference for me.

So I guess it makes sense to close unless someone requests it.

[2017-03-14 19:20] #42 closed

[2017-03-14 19:20] lyptt commented on #38
Hi @jcampbell05, yes this is definitely a good idea! I think we need to bite the bullet and just downgrade everything to support Ruby 2.0.0 first. Adding a Fastlane plugin will most likely involve requiring struct in the plugin class, so there'll be a Ruby incompatibility there until this is achieved.

[2017-03-14 19:21] lyptt commented on #41
Hi @jcampbell05 yes I agree, personally I think this is a task that could be achieved in other means. If this is possible to achieve without a complex DSL extension then I would highly prefer it. Then this would be more of a documentation task than anything else.

[2017-03-14 19:23] lyptt commented on #42
Yup! I definitely agree here. If there are issues managing dependencies between targets, this can be approached with struct functionality rather than relying on more complex Xcode project features.

[2017-03-14 19:24] jcampbell05 opened #45 "Folder References"
In Xcake we have a way to do Folder references if you include them directly i.e "a/folder/"
this may not make sense if the project is auto-generated but I know some people have asked for it.

[2017-03-14 19:25] jcampbell05 opened #46 "Changing order of files included"
Is it possible to manually override order files are included ? In xcake we do this by globbing and then re-specifying the files after the glob to force xcake to handle them later.

[2017-03-14 19:26] jcampbell05 opened #47 "Sugar Build Settings"
In Xcake we have a few sugar build settings which I see Stuct has. But I'm wondering does Struct have one for setting if target is for iPad, iPhone or Universal. and one for Swift Version

[2017-03-14 19:27] lyptt commented on #41
My personal opinion on this, is that struct as a tool should absolutely continue to support Objective-C functionality, but adding additional DSL for all of the complexities and edge cases in Objective-C projects isn't really ideal for this tool.

If we can achieve this in a way that is at best automatic, or implicit in nature, without the user having to do any additional work, then that's the best

[2017-03-14 19:27] lyptt commented on #39
My personal opinion on this, is that struct as a tool should absolutely continue to support Objective-C functionality, but adding additional DSL for all of the complexities and edge cases in Objective-C projects isn't really ideal for this tool.

If we can achieve this in a way that is at best automatic, or implicit in nature, without the user having to do any additional work, then that's the best

[2017-03-14 19:28] jcampbell05 opened #48 "Include files outside of directory"
Users have asked for way of including files outside of directory, I think this is a anti-pattern but I added this here to see your thoughts.

[2017-03-14 19:29] lyptt commented on #48
Hi @jcampbell05, this goes against the ethos of struct. In struct every file included in the project is relative to the root project folder and exactly matches the filesystem structure. This allows you to reason about your project structure much easier.

[2017-03-14 19:29] #48 closed

[2017-03-14 19:30] jcampbell05 opened #49 "Project Linting"
I had an idea to be able to lint a project so that errors and itunes connect errors caused by wrong build settings can be discovered.

I was going to create a project just for the linting but I was wondering if we could do this in struct as well as a `--autofix` method to fix the errors.

[2017-03-14 19:31] lyptt commented on #45
Hi @jcampbell05, I'm unsure of how folder references are that beneficial to Xcode projects day to day. Personally I don't think seeing files unrelated to my Xcode project in the source tree is particularly valuable. Xcode as a general editor / file viewer isn't particularly great, so I think for now we can avoid this one unless we get a lot of requests for it.

[2017-03-14 19:31] #45 closed

[2017-03-14 19:32] lyptt commented on #49
Hi @jcampbell05, this is an excellent idea! I can't count the number of times I've been caught out by stupid configuration errors, provisioning snafus and the like when submitting builds to Apple.

This is definitely something I'd love to see in struct. Awesome idea!

[2017-03-14 19:35] jcampbell05 commented on #41
@lyptt Completely agree in Xcake I took the same approach, out of the box with sensible defaults but allowed just enougth flexibility to fit your project.

So I did a bit of digging and I don't think it's possible to do with xcconfig but I have a simple solution. We could add a flag modifier like so:

[code]

This was the approach I was thinking of doing in Xcake.

[2017-03-14 19:35] lyptt commented on #49
Some of the common issues I've encountered that are much harder to figure out:
- Framework search paths not being added for linked frameworks
- Selecting to copy an Objective-C / 'fake' framework that is only intended to be linked into a target
- Mismatched SWIFT_VERSIONs between subprojects and the main project
- Mismatched build configurations between subprojects and the main project (Xcode requ

[2017-03-14 19:38] lyptt commented on #41
Hi @jcampbell05, this definitely could be an option, however it would significantly complicate parsing and project generation.

Another option is to have an additional DSL to apply changes matching file globs, e.g.:

[code]

[2017-03-14 19:40] lyptt commented on #46
Hi @jcampbell05, not currently, no. They're added in the order struct finds them. I'm not certain file ordering is particularly essential as currently the files are added in alphabetical order, which I believe will suit most use cases.

[2017-03-14 19:41] jcampbell05 commented on #39
@lyptt so how I did this in Xcake is including a Header added it to the project but didn't create the build phase. Since for apps you don't want to copy the headers, and in frameworks you want to control the visibility levels so you usually speicify where they are by hand (like in cocoapods)

If you wanted to expose them to be public for frameworks there was some DSL that allowed you to tell xcake

[2017-03-14 19:42] lyptt commented on #47
Hi @jcampbell05, we don't have any specific DSL for these flags. For SWIFT_VERSION, a sensible default matching the latest Xcode version is defined in the configuration profiles, and this can be overriden with a configuration override. Most likely there's a similar flag for target type however this still requires investigation.

[2017-03-14 19:42] #47 closed

[2017-03-14 19:42] jcampbell05 commented on #49
@lyptt  I've also had misconfigured swift build settings causing the frameworks to be generated in the wrong location for watchkit apps causing obtuse itunes errors which took 30 minutes to arrive to my inbox.

btw do you have a slack or something, perhaps we could discuss these ?

[2017-03-14 19:44] jcampbell05 commented on #46
@lyptt interesting, if thats the case then it may work the same as Xcake anyways as I've found specifying a more specific file path afterwards cause it to be added later in the order.

[2017-03-14 19:44] lyptt commented on #39
Hi @jcampbell05, I would be inclined to agree here. Struct isn't meant to be a one stop shop for Objective-C projects, these projects tend to be much more complex than Swift projects and have way more configuration to them.

Objective-C support is intended for backwards compatibility with well-established projects that are a mix of Objective-C and Swift, rather than purely Objective-C.

[2017-03-14 19:44] jcampbell05 commented on #41
@lyptt Yes that sounds perfect, do you know where exactly in the code we should add this ?

[2017-03-14 19:45] jcampbell05 commented on #38
@lyptt cool, do you have any pointers to where I can help downgrade us to 2.0 ?

[2017-03-14 19:45] lyptt commented on #39
I think for now we can say 'as intended', until more users are interested in having control over the Headers build phase.

[2017-03-14 19:45] #39 closed

[2017-03-14 19:48] jcampbell05 commented on #47
@lyptt  shall I make a issue for target type ?

[2017-03-14 19:49] lyptt commented on #49
@jcampbell05 I've set up a gitter and fired you over an invite, should be better for more involved discussions!

[2017-03-14 19:54] lyptt commented on #46
Yup, another case sensible defaults in struct 👍 I work in a project with a hefty number of Swift files day to day, and if I struggle to find a file, it's usually down to poor folder organisation. If all else fails, the file filter in Xcode is always a decent alternative.

[2017-03-14 19:54] #46 closed

[2017-03-14 19:59] jcampbell05 commented on #46
@lyptt this isn't so much for file organisation but for helping with build order as file B may have a dependency on C so C has to be built before B :)

[2017-03-14 20:01] lyptt commented on #41
Yup, so first off this would be a brand new spec version - 1.3.0. So there's a few steps involved in building this out:

- Duplicate the latest StructCore::SpecParserXXX as StructCore::Specparser13X in `lib/spec/parser`
- Update the new class to be properly named as Specparser13X, update its `:can_parse_version` method to properly check for the new spec version
- Duplicate the tests in `spec/unit'

[2017-03-14 20:06] lyptt commented on #38
@jcampbell05 From my investigations, the main sticking point is `listen`, which would need to be downgraded quite significantly. Check #16 for a complete analysis of dependencies that need changing. Anything else is language functionality we're using internally. The things I noticed was:

- Inline `private_class_method` and `private` statements need replacing
- `to_h` isn't available in 2.0.0, so

[2017-03-14 20:07] jcampbell05 commented on #41
@lyptt this all sounds good, I'll look into this. Good point about the regressions, one of the mistakes I made with Xcake is not versioning the specs although I did the usual semver guarantees (Like Cocoapods) but Projects are more complex so usually people don't migrate as fast.

[2017-03-14 20:08] lyptt commented on #41
Sure thing! If you need any advice, hit me up on the gitter room and I can help you with the process. It's fairly involved, but it's best for us to have the pain rather than the end users!

Generally we only watch out for minor versions, however we've started checking patch versions too on one new feature. I'm still investigating ways to make this more seamless.

[2017-03-14 20:08] jcampbell05 commented on #38
@lyptt I have a implementation of `to_h` I can donate from Xcake since I encountered issues with using it for my `.tmap` implementation.

[2017-03-14 20:09] lyptt commented on #46
Hi @jcampbell05, I don't believe Swift has this issue. I haven't actually encountered this issue myself, however this may be more prevalent for Objective-C projects?

Again I suggest keeping an eye on it, if users really need it we can figure something out.

[2017-03-14 20:10] jcampbell05 opened #50 "Migrate to CircleCI"
I'm not sure if I noticed you tweeting TravisCI about the builds being slow but I recommend trying CircleCI they are much faster and even donate 3 containers (not sure if they are MacOS ones)

[2017-03-14 20:11] jcampbell05 commented on #46
Potentially a Objective-C issue.

[2017-03-14 20:11] lyptt commented on #47
Hi @jcampbell05, I believe we already have target types if you mean :application, :framework, etc. If you're referring to whether a target's an iPhone / iPad / Universal app, we should definitely investigate how Xcode's configuring this.

If it belongs in target configuration, a simple DSL could be added to adjust this. If it's a build setting, we can add a sensible default and document it.

Go ah

[2017-03-14 20:12] lyptt commented on #38
@jcampbell05 Sounds good!

[2017-03-14 20:13] jcampbell05 opened #51 "DSL for Target Platform Type"
Note: This isn't same as the type of target

In Xcake we have a way of configuring the supported platforms of a target, this defines if a app is iPhone Only, iPad Only or Universal.

I'm not sure if this is configurable in the Info.plist but we should look into how Xcode configures it and add it to the DSL if not.

[2017-03-14 20:14] lyptt commented on #50
Hi @jcampbell05, this could be a decent option actually. Travis is being incredibly frustrating to work with right now as they're often backlogged on macOS build nodes. My release last night was delayed by a good few hours just waiting for integration tests to actually start.

[2017-03-14 20:16] jcampbell05 commented on #50
Yeah also one of the Core Members of Cocoapods works on it so it has a lot of love when it comes to Apple Builds.

I've recently converted my projects over to CircleCI, so I will happily help to set it up but I will probably need to be added as a contributor.

[2017-03-14 20:20] lyptt commented on #50
Sounds good! I've added you as a collaborator to the repo, so you should be able to set that up.

[2017-03-14 20:22] jcampbell05 opened #52 "When Running Framework It should Build"
I was informed by a user of Xcake that Xcode running a framework builds it, I've tried to implement it but Xcodeproj makes it hard. But we should definatly implement it in Struct.

[2017-03-14 20:23] lyptt commented on #43
Yup I think this is a worthwhile addition, primarly to the Specfile DSL for now to trial it out. I'd like the DSL to be flexible enough so that if you need to you can break it out into its core definitions if you need to adapt it, for example:

[code]

Which would be equivalent to the following:

[code]

[2017-03-14 20:24] lyptt commented on #52
Oh really? I'm not sure if I've ever seen that! Whenever I've manually built framework projects I could either test it with Cmd+U, or build it with Cmd+B. Could this potentially be a schemes thing?

Definitely worth investigating!

[2017-03-14 20:27] jcampbell05 commented on #52
@lyptt  I wasn't sure either but we should look into it.

Implementation wise it's a scheme thing, in Xcodeproj you basically tell it to configure the build_action to be runnable which makes it build. That said the fact Xcodeproj doesn't do this out of the box makes me question this as they usually match the default Xcode behaviour.

One hurdle, the Entry class needed to make it runnable in Xcodep

[2017-03-14 20:32] jcampbell05 commented on #23
@lyptt generally with Xcake I tried to time breaking the spec with the Xcode releases since that was usually when I needed to update it to support new Xcode functionality changes.

Also most developers expected my tool to break with a new Xcode release so it was a good way of managing expectations.

[2017-03-14 20:47] lyptt commented on #23
Yes absolutely, this is one way of achieving this. I think fundamenatally most Xcode updates are likely to smoothly, unless they suddenly restructure something. For example - Xcode 8's code signing updates only added a few additional code signing options for build configurations, so chances are we'd get away with it until they introduce additional Object subclasses that need to be supported by Xco

[2017-03-14 20:47] jcampbell05 opened #53 "Migration Guide For Xcake To Struct"
As I gradually wind down active development of Xcake, it may be a good idea to have a guide for the users who use it to migrate to struct.

Ideally it would outline the differences in certain areas i.e using Cocoapods when needing control over headers.

[2017-03-14 20:48] lyptt commented on #53
Yes this would be very useful! I'm unsure if as a collaborator you have wiki access. If you do, feel free to add an article detailing this process.

[2017-03-14 20:54] jcampbell05 commented on #23
@lyptt Yeah I think that would be ideal so I think we have two core principals:

1. Guaranteed support for Specs within the same major version to not leave older users behind.
2. Major version bumps for specs will ideally be timed for or after major Xcode releases since this is usually when people expect big changes happen and major releases of Xcodeproj are released.

In practice haven't had to c

[2017-03-14 20:55] lyptt commented on #23
Yup, this sounds good to me!

[2017-03-14 21:05] lyptt opened #54 "Fully document the nuances of struct's project generation"
There are some aspects of struct that are currently undocumented, and need to be fleshed out. This task will consist of the following:

- Document how profiles, platforms, and build configurations work together to define configuration for your project
- More usage examples both simple and complex to fully illustrate various usage scenarios for struct

[2017-03-14 21:07] jcampbell05 commented on #54
Do we have documentation on variants. Also another thing that is useful to have is a list of things Struct can hand in the Xcode Project. People always requested this from me in Xcake, have a look here https://github.com/jcampbell05/xcake/tree/master/docs

I've also considered explaining the project file format for contributors too.

[2017-03-14 21:09] lyptt opened #55 "Add a means for reducing duplication for build configuration"
Currently in struct, the same configuration settings tend to be redeclared when defining each build configuration manually, for example:

[code]

Ideally, we'd be able to declare this once for a target configuration, and then be able to inherit this for other configurations.

[2017-03-14 21:10] lyptt commented on #54
Hi @jcampbell05, yes we have documentation for variants! Please check out the [wiki](https://github.com/lyptt/struct/wiki) to see what documentation we currently have in place.

[2017-03-14 21:19] jcampbell05 commented on #55
You can see how this was done in Xcake here https://github.com/maximkhatskevich/MKHRequirement/blob/develop/Cakefile

An overview of how it worked in Xcake:
- A user could configure the configurations of the project, the target would then inherit these if it has a `$(inherited)` setting
- Xcake allowed users to set all configurations in a particular node (Project or Target) by iterating through th

[2017-03-14 21:24] lyptt commented on #55
Yeah @jcampbell05 I was considering variables for YAML and JSON too! [Packer](https://www.packer.io/) has a very similar approach to this, and it even supports overriding variables on the command line when invoking the tool, which would be very awesome to include.

I like the idea of going with $(inherited), or some similar mechanism to 'inherit' configurations from another build configuration. It

[2017-03-14 21:29] jcampbell05 commented on #55
It would fit in well with Fastlane usage as well :)

Cool so I guess we allow user to specify project level configurations (if we don't already).

Do we also allow a user to declare settings on configurations via a special `all` configuration in JSON and YAML. In the DSL the users can simply iterate through all configurations and set a setting ? I would imagine there may be cases that a setting ma

[2017-03-14 21:30] maximkhatskevich opened #56 "Make 'def ...' declarations to work as expected in Specfile to reuse override statements"
Sample for testing: https://github.com/maximkhatskevich/MKHRequirement/tree/develop

[2017-03-14 21:31] lyptt commented on #55
We do have an alternate declaration style, but if you need to adjust anything between Debug / Release you can't use it, as it applies the same overrides for every configuration:

[code]

[2017-03-14 21:31] maximkhatskevich commented on #56
Sample for testing: https://github.com/maximkhatskevich/MKHRequirement/tree/develop

[2017-03-14 21:33] lyptt commented on #55
One option as you said may be an 'all' state, e.g. (taking inspiration from variants):

[code]

[2017-03-14 21:41] lyptt commented on #56
Hi @maximkhatskevich, thanks for filing this! This is some kind of strange metaprogramming / scope issue. Definitely one to fix!

[2017-03-14 21:45] jcampbell05 opened #57 "Method for automatically disabling code signing"
Maybe not handled by struct but this was something requested in Xcake https://github.com/jcampbell05/xcake/issues/132

Doesn't seem possible yet.

[2017-03-14 21:49] lyptt commented on #57
@jcampbell05 this is handled automatically by Xcode. When you omit any provisioning / code signing settings, Xcode defaults to 'Automatic'.

[2017-03-14 21:52] #57 closed

[2017-03-14 21:54] jcampbell05 opened #58 "Make Specfiles for projects to drive adoption"
One thing suggested to me for Xcake but I never did is to make PRs for several successful projects or open source apps and submit a Specfile for them to start using Struct.

Obviously a lot of projects may not need struct as they will use Cocoapods to handle the project but may drive adoption :)

Otherwise its just spreading the word :) (I'm thinking of blogging about why people should use xcode g

[2017-03-14 21:57] lyptt commented on #58
Ah this is a great idea! I know Fastlane has a 'recipes' section where popular companies demonstrate their Fastfiles. We could definitely do something similar!

[2017-03-14 22:04] jcampbell05 opened #59 "Support UUIDs for Target Type"
For Xcake I had to support UUIDs for Target types, as when I was building a project scaffolder based on Xctemplates the templates used UUIDs rather than nice names like 'application'. It was easier to pass this straight in and pass it to xcodeproj than try to treat it like a symbol and look it up in xcodeproj's constants.

I would very much like to restart my scaffolder on Struct rather than Xcake

[2017-03-14 22:06] lyptt commented on #59
@jcampbell05 Could you provide some examples? I'm happy to do it if you can provide more detail on what changes would be made 👍

[2017-03-14 22:09] jcampbell05 commented on #59
So you can see what I did here https://github.com/jcampbell05/xcake/blob/master/lib/xcake/xcode/project.rb#L86

When the type is a symbol i.e ':application' I find the UUID and use that. If the type is a string then I assume it's a UUID and pass it directly in :)

[2017-03-14 22:11] lyptt commented on #59
Ah I see! We could definitely support that, potentially by extending DSL functions to look for another parameter, or maybe a hash e.g.:

[code]

Then we can do a simple type check, `.is_a?(Hash)` then pass through the `:uuid` value

[2017-03-14 22:16] jcampbell05 commented on #59
@lyptt yup that would work :) will be good to see if I can swap it out for Struct :)  I'm guessing Struct has a serializer for the Spec, Yaml and Json too (For the project recreation)

[2017-03-14 22:20] jcampbell05 opened #60 "Break Struct's files into smaller modules"
I've noticed that a lot of Struct is based in very large single files. In Xcake I broke these up into individual generators that focused on very small tasks (i.e just making a target).

This made it much easier to test, understand and control what happens and when.
Look how small the Generator for adding libraries is :)
https://github.com/jcampbell05/xcake/blob/master/lib/xcake/generator/target_li

[2017-03-14 22:21] lyptt commented on #59
@jcampbell05 Yup! `StructCore::Specwriter` can generate JSON and YAML spec files.

[2017-03-14 22:26] jcampbell05 opened #61 "Add Issue Template"
To stop annoying people like me asking not very detailed issues :)
We should ask for things like Xcodeproj version, Struct version and example Specfile.

@maximkhatskevich is very good with documentation and stuff so maybe he can suggest a template :)

[2017-03-14 22:27] lyptt commented on #60
Yup I agree this should be done - two main files need refactoring, migrator.rb and xcodeproj_writer.rb.

Before this happens we should finish adding a full suite of integration tests to make sure we don't break project generation.

[2017-03-14 22:27] lyptt commented on #61
Good point! I'm unaware of how to do this, some research needed 👍

[2017-03-14 22:28] jcampbell05 opened #62 "Add documentation for contributors"
We should try to add documentation to help contributors understand how everything is set up and document methods when possible (Maybe even generate Yard doc).

[2017-03-14 22:31] maximkhatskevich commented on #61
I'm happy to help with documentation on Struct, but not sure what exactly do you mean @jcampbell05 Add a special paragraph in Readme file how to file an issue on Struct GitHub repo?

[2017-03-14 22:35] jcampbell05 commented on #61
@maximkhatskevich I'm meaning this :) https://github.com/blog/2111-issue-and-pull-request-templates but documentation would be great too :)

[2017-03-14 22:36] maximkhatskevich commented on #61
Interesting, didn't know about that :) Okay, I'll take a look.

[2017-03-14 22:38] jcampbell05 commented on #60
Yeah, makes sense as we are about to play with CircleCI as well, what sort of tests you thinking of ?

The way I broke Xcake up was by BDD-ing it as I found that it was so hard to test I had to break it up.

Sidenote: I guess for the migration we could make the generator concept in Xcake bidirectional, so it knows how to go from DSL -> Project and back again :)

[2017-03-14 22:43] lyptt commented on #60
@jcampbell05 So my solution for it to start is to just make sure as many branches are covered in the writer / migrator as possible, but treat it as a black box.

This would be done by feeding these classes spec files (writer) / xcode projects (migrator) that include different bits of functionality so that we know each spec file feature can make its way into a buildable Xcode project.

For project

[2017-03-14 22:45] lyptt commented on #62
We already have docs generated for struct [here](http://www.rubydoc.info/gems/struct), but they should most likely be linked to in the README.md.

[2017-03-14 22:46] lyptt commented on #62
@jcampbell05 I agree that dev documentation is very important, maybe a 'Contributing to struct' wiki page would suffice?

[2017-03-14 22:54] jcampbell05 commented on #60
@lyptt  awesome I'll take a look at these to gain a deeper understand and to see if I can start writing tests since that will help me to get to grips with things :)

:) for the bidirectional stuff I was meaning more how we can break it down. But thats a pretty ingenious way of doing it :)

[2017-03-14 22:55] jcampbell05 commented on #62
@lyptt defiantly :)  I'm sure it will be easier to contribute once we've both been working on it, I know that when you first start a project it's hard to do enougth documenting without others to point out where you've missed things :) so It's probably a more as we go along thing

[2017-03-15 10:06] jcampbell05 opened #63 "Add ability to configure schemes"
From https://github.com/jcampbell05/xcake/issues/124

Some features of schemes are useful for example flags for things such as Coredata debugging.

[2017-03-15 10:07] jcampbell05 opened #64 "Add a hook system to Struct"
From https://github.com/jcampbell05/xcake/issues/124.

Allow for things like triggering command after project is generated like `pod install` (Already in Xcake) and allow people to modify generated project through Xcodeproj for extra control.

[2017-03-15 11:11] lyptt commented on #64
It'd be interesting to see if we can achieve this for both YAML/JSON and DSL formats. For example something like this:

[code]

[code]

[2017-03-15 19:19] jcampbell05 commented on #25
@lyptt I'm going to start a scaffolding tool, I could use to verify this.

[2017-03-15 19:43] jcampbell05 opened #65 "Use more standard way of invoking Struct"
Usually command line tools are used like `pod install` or `xcake make` and flags are used for options.

We should adjust struct to be `struct generate --flags` instead of `struct --generate`

[2017-03-16 22:11] jshier opened #66 "Struct can't handle Clusterfuck..."
[Clusterfuck](https://github.com/SlaunchaMan/Clusterfuck) is a blank iOS project that includes every possible extension type, as well as a watch app. If nothing else, this could serve as a stress test for your project migration and generation. There are currently a few issues:

1. During initial migration, many warnings are printed:
`Warning: unrecognised project configuration profile 'app-extensi

[2017-03-16 22:18] lyptt commented on #66
Wow, that's a great resource @jshier! This will be incredibly useful to add to our integration tests. Thanks for the link!

Yes additional platform support is coming as we work to stabilise the tool and add in a full test suite, currently we're limiting it to macOS and iOS at present, which is why you'll get a lot of warnings about unsupported profiles. The folder naming is purely convention based

[2017-03-16 22:23] SlaunchaMan commented on #66
Glad you like it! I’m in the process of doing some renaming, so you’ll see some churn, but I will eventually have iOS, watchOS, tvOS, and macOS in there, with all of the extension points the platforms offer.

[2017-03-16 22:24] lyptt commented on #66
That's awesome! We'll definitely keep an eye on this. Looks like it'll be incredibly useful for us going forward to make sure we don't break anything 🚀

[2017-03-16 22:32] lyptt opened #67 "Internalise configuration profiles"
Currently when configuring projects and targets, you have to specify configuration profiles matching your target type / overall project.

As we can infer these details quite easily, we should internalise profiles and make this an implementation detail, to reduce configuration burden on our users.

[2017-03-16 22:49] jcampbell05 commented on #66
Good little benchmark for Apple Tools in general :)

[2017-03-16 22:57] jcampbell05 commented on #25
- Allow to pass version in as string and not version class
- Default to empty array when targets, variants and configurations aren’t parsed in
- Have constant for latest spec version
- Target requires 8 things to be passed in the constructor, we should have sensible defaults to most of these. We can remove profiles argument as we will be inferring, type and platform may be needed but potentially w

[2017-03-16 23:05] jcampbell05 commented on #67
This will be useful for cook which I've had to pause development on for the meantime until we have this :) https://github.com/jcampbell05/cook

[2017-03-17 01:01] SlaunchaMan commented on #66
Added watchOS, tvOS, and macOS. Fair warning: Xcode gets pretty laggy when you have the project file selected.

[2017-03-17 19:28] lyptt opened #68 "Downgrade to Ruby 2.0.0"
We should downgrade to Ruby 2.0.0 to make installing struct natively possible without RVM.

[2017-03-17 19:28] lyptt commented on #27
Turns out this is too unwieldy a solution. We'll downgrade and ensure everything's compatible. #68 will track this.

[2017-03-17 19:28] #27 closed

[2017-03-17 19:56] lyptt commented on #50
@jcampbell05 For free OS X builds we require Circle's assistance through their billing department. I've gotten in touch.

[2017-03-17 20:05] jcampbell05 commented on #68
It looks good to me 😀 just wondering why we needed to do the changes with the private attribute ? I think I've managed to find a way of declaring where the private methods start without having to respecify them or is it for readability

[2017-03-17 20:06] lyptt commented on #68
@jcampbell05 It's not supported in 2.0.0 unfortunately. Inline private declarations are > 2.0.0 😭

[2017-03-17 20:08] jcampbell05 commented on #68
I think you can put them on a new line like so:
https://tenderlovemaking.com/2012/09/07/protected-methods-and-ruby-2-0.html

C++ style :D

[2017-03-17 20:15] lyptt commented on #68
Ew C++ 😉

I think maybe we could clean this up as part of our general usability refactor? I'd like to get this in asap so way more people can benefit from struct 😄

[2017-03-17 20:41] lyptt commented on #40
Proposed schema adjustment as follows:

[code]

[code]

[2017-03-17 20:43] #32 closed

[2017-03-17 20:44] #68 closed

[2017-03-17 20:46] lyptt commented on #65
Sounds good, @jcampbell05 I propose supporting both for now, and raising a warning regarding the old invocation style being deprecated. We can then remove this in the next major version.

[2017-03-17 22:07] jcampbell05 commented on #68
Yeah makes sense

[2017-03-17 22:20] #65 closed

[2017-03-18 08:57] lyptt commented on #51
We can do this in a configuration override.

- iPhone-only is the default, no changes needed.
- For iPad: add an override `TARGETED_DEVICE_FAMILY: 2`
- For Universal: add an override `TARGETED_DEVICE_FAMILY: 1,2`

We should add a higher-level DSL for this as part of the main task to integrate an Xcake-like DSL superset.

[2017-03-18 08:57] #51 closed

[2017-03-18 09:52] #23 closed

[2017-03-18 10:05] #36 closed

[2017-03-18 12:59] jcampbell05 commented on #51
Sounds good 😀 yeah a higher level dsl would be great as those numbers aren't understandable

[2017-03-18 13:00] lyptt commented on #51
@jcampbell05 Yup I agree! I guess Xcode developers got lazy that day 😉

[2017-03-18 13:40] #40 closed

[2017-03-18 15:52] jcampbell05 commented on #56
The issues is potentially caused by a safety feature where i`instance_eval` doesn't allow for access of the outside scope.

So the code in the project DSL and configuration DSL are executed in their own sandboxed scope. This means your custom method doesn't exist to the code in the configuration block hence the error.

We are looking into implementing a fix detailed here http://djellemah.com/blog/

[2017-03-18 17:09] #56 closed

[2017-03-18 19:53] maximkhatskevich opened #77 "Xcode crashes when trying to open project file"
I use Ruby 2.4.0 via RVM. With latest Struct. I prepared YAML spec file and generated project file. Operation went normally, no even warnings nor errors. But when I'm trying to open the project file (double click or add to workspace) - Xcode crashes. Any ideas how to fix? Thanks!

The spec file: https://www.dropbox.com/s/or9bram5jujxgxs/project.yml?dl=0
The generated project file: https://www.drop

[2017-03-18 19:56] lyptt commented on #77
This is probably a missing configuration setting. Xcode isn't particularly friendly in this regard.

Could you provide the full set of project files? Otherwise this may make reproduction harder as Xcode refuses to load projects fully unless the Info.plist for example is present.

[2017-03-18 20:03] maximkhatskevich commented on #77
@lyptt yes, sure, it's on top of the 'develop' branch (just pushed): https://github.com/maximkhatskevich/MKHRequirement/tree/develop

[2017-03-18 20:08] maximkhatskevich commented on #77
@lyptt just wondering - can you reproduce the crash?

[2017-03-18 20:15] lyptt commented on #77
@maximkhatskevich I've reproduced it, you're not defining the configuration correctly for your targets.

A quote from the [wiki](https://github.com/lyptt/struct/wiki/Spec-format%3A-v1.2#target-configuration):

You're mixing up 'project configuration' with 'target configuration'. Targets are not configured identically to projects, and as a result you're inserting data into your build settings that

[2017-03-18 20:16] #77 closed

[2017-03-18 20:20] lyptt commented on #66
The following tasks are necessary to add support for all of these targets:
- [ ]  Add tvOS platform support
  - [ ] Add tvOS platform profile
- [ ] Add watchOS platform support
  - [ ] Add watchOS platform profile

[2017-03-18 20:22] maximkhatskevich commented on #77
@lyptt okay, I see your point, but what exactly should I change in the 'project.yml' file to make the generated project file work normally?

[2017-03-18 20:23] maximkhatskevich commented on #77
If I just remove the 'profiles' entries from both configurations - it does not help.

[2017-03-18 20:24] lyptt commented on #77
Strip out the configurations blocks from your targets, remove anything to do with 'profiles', etc from these blocks.

Take the overrides keys and values - these are what go directly inside 'Debug' and 'Release' on a target level.

[2017-03-18 20:24] lyptt commented on #77
Please look at the example projects for reference, you'll notice there's nothing in 'configuration' other than overrides.

[2017-03-18 20:25] maximkhatskevich commented on #77
Okay, thanks!

[2017-03-18 20:27] jcampbell05 opened #78 "User Defined Macros"
This is something Xcake handled as well as high level DSL for escaping a string for Objective-C and C

[2017-03-18 20:28] lyptt commented on #78
@jcampbell05 could you describe the use case in a bit more detail? Are these for the code templates you can drag in from the right sidebar?

[2017-03-18 20:33] maximkhatskevich commented on #77
@lyptt in the example spec file you apply both [platform](https://github.com/lyptt/struct/blob/master/examples/iOS_Framework/project.yml#L19) and [profiles](https://github.com/lyptt/struct/blob/master/examples/iOS_Framework/project.yml#L21). But it does not cause a crash.

[2017-03-18 20:34] jcampbell05 commented on #78
@lyptt I mean't preprocessor definitions :)

[2017-03-18 20:36] lyptt commented on #77
Hi @maximkhatskevich, I think you're misunderstanding what's wrong with your spec file. Let me demonstrate with sample code.

Here is what you're currently doing:

[code]

Here is what you should change this to:

[code]

Does that help?

[2017-03-18 20:41] maximkhatskevich commented on #77
@lyptt I really got this point, I edited the spec file (targets section) to this:

[code]

and the crash is gone, the project file opens fine, but if I uncomment the overrides in the targets like this:

[code]

 it starts happen again.

[2017-03-18 20:41] maximkhatskevich commented on #77
What I'm still doing wrong?

[2017-03-18 20:43] lyptt commented on #77
@maximkhatskevich You haven't changed your spec to the example I've given you. Can you please re-read my comment above thoroughly?

Notice that **there's no overrides key at all**.

[2017-03-18 20:43] maximkhatskevich commented on #77
Oh! Nice catch.

[2017-03-18 20:44] lyptt commented on #77
Yay! Hopefully that solves it for you @maximkhatskevich 👍

[2017-03-18 20:46] maximkhatskevich commented on #77
YEEESSSS! Thank you @lyptt so much. My bad, I missed that small detail! I appreciate your patience and your help!

[2017-03-18 20:47] lyptt commented on #77
No problem! Gotta love those eureka moments! 🚀

[2017-03-18 20:58] jcampbell05 commented on #78
Maybe we can do something like this:

YAML
[code]

JSON
[code]

Ruby
[code]

[2017-03-18 21:01] lyptt commented on #78
Yeah, I need to have a think about how this fits into everything else. I think this could definitely fit into the existing `override '',''` and `configuration` flows. Maybe we could sniff the build setting itself and parse it differently from the others?

[2017-03-18 21:13] jcampbell05 commented on #78
@lyptt I think having a special accessor is conceptually simpler for us and the user. This is what I did in Xcake so if they set it directly they knew they were on their own but if they used the "sugar" method they knew it was optimized for that build setting and would help them out.

Sniffing may be easier on the user but they may not know we are treating it differently.

Another option is to imp

[2017-03-18 21:17] lyptt commented on #78
@jcampbell05 I agree sniffing makes it special behaviour that users may be aware of, but we already have implicit enhancements in a lot of what struct does by default.

I suggest since we already starting to need to post-process build settings before they're inserted to a project, having it implicitly convert this field would be friendlier to the user, as long as it's documented properly.

[2017-03-18 21:27] jcampbell05 commented on #78
So I suggest we can split this into two sections :)

1. Allow Hashes / Associated Arrays as build settings:

DSL

[code]

JSON
[code]

YAML
[code]

Would be compiled down to "MESSAGE=Hey"

2. So sniffing the build settings is hard as we would need a way to figure out if user wants to escape text for Objective-C or C

We could have a dynamic build setting that is an alias for the actual build setti

[2017-03-18 21:32] lyptt commented on #78
Yeah that seems reasonable. So the latter two would belong in overrides still, and we'd post-process that.

[2017-03-18 22:53] #59 closed

[2017-03-19 10:58] lyptt commented on #49
@jcampbell05 Here's another one we can lint:

[code]

[2017-03-20 09:58] jcampbell05 commented on #67
Looked into this it seems the only thing that doesn't infer profiles are configurations at the project level.

I also discovered we don't have a profile for iOS unit tests vs Mac unit tests as they have differences.

Once I've got the configurations to infer then in future I think we could simplify the code a sort of our arch discussion since I wasn't sure to put the code

[2017-03-20 11:28] jcampbell05 opened #81 "Release and Debug configurations are not treated same as in Xcode"
In Xcode these configurations are capitalized but Struct they are treated as being lowercase, thus "Release" doesn't default to having a release type but "release" does.

(I know it's one of these quirky things)

[2017-03-20 11:31] jcampbell05 commented on #25
There is a lot of weird quirks and non-obviousness when using profiles.
We should hide these from the API consumer as detailed in #67 to make things easier :)

[2017-03-20 11:39] lyptt commented on #81
Yeah this is mainly a struct opinionated thing. One solution I had was to recognise both 'debug' and 'Debug' without having to specify the type. I think this would work well 😄

[2017-03-20 12:05] jcampbell05 commented on #81
@lyptt Yeah that would make sense :)

[2017-03-20 12:49] maximkhatskevich opened #82 "Platform and platform-related profiles should be set/applied on target level only"
Currently in the example spec files ([here](https://github.com/lyptt/struct/blob/master/examples/iOS_Framework/project.yml#L7), [here](https://github.com/lyptt/struct/blob/master/examples/iOS_Framework/project.yml#L13), [here](https://github.com/lyptt/struct/blob/master/examples/iOS_Application/project.yml#L19), [here](https://github.com/lyptt/struct/blob/master/examples/iOS_Application/project.ym

[2017-03-20 12:51] maximkhatskevich opened #83 "Struct should start using GitFlow"
I would highly recommend start using [GitFlow](http://nvie.com/posts/a-successful-git-branching-model/) for branch/release management on this repo. Pushing WIP commits on 'master' branch to the public repo doesn't seem to be a good idea.

[2017-03-20 13:23] lyptt commented on #83
@maximkhatskevich agreed. Since there's two devs now that makes sense, after 1.3.0 has gone out, we can make the switch.

[2017-03-20 13:23] #83 closed

[2017-03-20 13:25] lyptt commented on #82
@maximkhatskevich project-level profiles are separate from target profiles. If you were only doing macOS projects, there wouldn't be a point in declaring iOS-specific configuration information. This is why the profiles exist.

Ultimately though this can be inferred by struct, so removing profiles completely from specfiles as @jcampbell05 has suggested will solve this.

You can track this in #67.

[2017-03-20 13:25] #82 closed

[2017-03-20 13:26] maximkhatskevich commented on #82
Agree.

[2017-03-20 13:29] jcampbell05 commented on #82
Hoping to get a PR for #67 this evening, @maximkhatskevich  :)

[2017-03-21 10:14] robertjpayne opened #85 "Community Group?"
Hi there,

I'm *very* keen to help contribute on this project, but is there a Slack/Gitter/IRC group for contributors? I have a few questions about the codebase before I start tweaking.

Cheers!

[2017-03-21 10:17] lyptt commented on #85
Hey @robertjpayne, thanks for filing this issue! Yes we have a Gitter you can chat on [here](https://gitter.im/workshop/Lobby) - it's fairly fresh as we've only just recently transferred over from a private account to an organisation. Feel free to post your questions there!

[2017-03-21 10:18] #85 closed

[2017-03-21 11:41] robertjpayne opened #86 "Improve excluded files globbing"
The current implementation to match a exclude glob to a file is:

`File.fnmatch(<pattern>, <filename>)`

It has a few issues:

1. You cannot exclude a directory as it matches only file names
2. You cannot exclude files of a certain type at a certain path as it only matches file names

I propose we make it more full path based:

`File.fnmatch(exclude, file.slice(project_directory.length+1..-1), Fil

[2017-03-26 08:21] #41 closed

[2017-03-26 08:37] #86 closed

[2017-03-26 12:16] maximkhatskevich opened #89 "Input and Output files for a script build phase"
I'm wondering how can we specify extra parameters that Xcode allows to pass in every Script build phase (see screenshot attached).

<img width="631" alt="screen shot 2017-03-26 at 2 14 06 pm" src="https://cloud.githubusercontent.com/assets/2624646/24331156/c3aa3dbc-122e-11e7-823b-c4bc5bd0d943.png">

[2017-03-26 12:22] lyptt commented on #89
@maximkhatskevich for your particular use case, you probably don't need either. Environment variables can be directly referenced in a build script.

[2017-03-26 12:23] maximkhatskevich commented on #89
Thanks, I didn't know that, but feel free to consider it as a feature request for future releases!

[2017-03-26 19:18] maximkhatskevich opened #90 "Source options probably return strange warning"
I'm getting message like this "Warning: Target Tests's source options was not a Hash. Ignoring source options..." when generating project from a `project.yml` file with Struct 1.3.0, but I do not have `source_options` entries in my spec file.

[2017-03-26 19:29] lyptt commented on #90
Hi @maximkhatskevich, can you paste your project.yml here? I have not observed these warnings when testing with existing project files.

[2017-03-26 19:39] lyptt commented on #90
Thanks @maximkhatskevich, looks like I was a bit too strict with one of the parsing checks. Fix coming shortly 👍

[2017-03-26 19:41] maximkhatskevich commented on #90
Glad to help! :)

[2017-03-26 19:46] lyptt commented on #90
Fixed in 1.3.1 - now released 🚀

[2017-03-26 19:46] #90 closed

[2017-03-26 20:40] maximkhatskevich opened #92 "Struct does not set "Host application" for unit tests target"
even if I have set the reference in 'project.yml' file like this:

[code]

and then later...

[code]

[2017-03-26 20:40] maximkhatskevich commented on #92
Struct v.1.3.1

[2017-03-26 20:42] lyptt commented on #92
You're correct @maximkhatskevich, it doesn't do this automatically. Please see the [iOS Application sample project](https://github.com/workshop/struct/blob/master/examples/iOS_Application/project.yml) line 115 for an example of how this is done.

[2017-03-26 20:42] #92 closed

[2017-03-26 20:45] maximkhatskevich commented on #92
Okay, I see, thanks!

[2017-04-03 21:23] #60 closed

[2017-04-03 21:43] lyptt commented on #63
Proposed spec adjustment as follows:

[code]

[2017-04-03 21:52] lyptt commented on #63
Proposed Specfile adjustment as follows:

[code]

[2017-04-04 19:35] #81 closed

[2017-04-04 19:35] lyptt commented on #81
Fixed in 2.0.0.

[2017-04-04 20:08] #55 closed

[2017-04-05 18:15] lyptt commented on #52
Depends on #63

[2017-04-05 18:57] #61 closed

[2017-04-05 18:57] lyptt commented on #61
The issue template is now added.

[2017-04-05 19:03] lyptt commented on #66
Struct is handling this a lot better in 2.0.0, however we still need to add a few more profiles and tvOS support in order to fully handle this 👍

[2017-04-06 05:17] #64 closed

[2017-04-06 06:57] lyptt commented on #67
Fixed in 2.0.0.

[2017-04-06 06:57] #67 closed

[2017-04-06 07:00] lyptt commented on #25
@jcampbell05 There's a few things here now covered by recent changes:

- [x] Have constant for latest spec version
- [x] There is a lot of weird quirks and non-obviousness when using profiles. We should hide these from the API consumer as detailed in #67 to make things easier

Remaining items are:
- [ ] Allow to pass version in as string and not version class
- [ ] Default to empty array when targ

[2017-04-06 07:15] lyptt commented on #25
Fixed in 2.0.0.

[2017-04-06 07:15] #25 closed

[2017-04-06 07:16] lyptt opened #97 "Add support for sending opt-in telemetry data so we can see how Struct is being used"
As more people use Struct it would be useful to know how Struct is being used, so we can determine:

- [ ] Which features are being used the most, and are of most importance when fixing issues?
- [ ] Which features are being used the least, and are of a lower priority to fix?
- [ ] Which features aren't being used at all, and could be removed?
- [ ] Which features need performance improvements?

T

[2017-04-06 17:23] jcampbell05 commented on #97
Sounds good to me 😀 defiantly is hard to choose the trade offs without the dstab

[2017-04-10 21:17] lyptt commented on #63
Fixed in 2.0.0

[2017-04-10 21:17] #63 closed

[2017-04-11 09:57] lyptt opened #99 "Files without extensions are currently not added to a project"

[2017-04-14 04:07] SlaunchaMan commented on #66
PSA: The project has been renamed [Turducken](https://github.com/SlaunchaMan/Turducken), so if you’ve cloned it you’ll need to update to the new URL.

[2017-04-16 23:39] maximkhatskevich opened #102 "Struct does not add one file to project"
For some reason, it skips just one file in the project. See screenshot, notices that file "Feature.actualization.swift" is the only one missing in project navigator and is available for adding to the project.

<img width="955" alt="screen shot 2017-04-16 at 4 37 28 pm" src="https://cloud.githubusercontent.com/assets/2624646/25075169/0763cd9e-22c3-11e7-9610-bc6242a96d35.png">

Is it somehow related

[2017-04-17 06:27] lyptt commented on #102
Hi @maximkhatskevich, thanks for filing this issue.

I don't think it's related to #99 because every other file with two dots e.g. Feature.deinitialization.swift has been added fine. Can you please provide your spec file?

[2017-04-17 21:48] maximkhatskevich commented on #102
@lyptt sure, here is the spec file, nothing special there https://github.com/XCEssentials/UniFlow/blob/master/project.yml

[2017-05-17 06:14] yonaskolb opened #103 "2.0?"
Is this still being worked on?
I was waiting for the 2.0.0 release before investing in this, but the release milestone for that has come and gone

[2017-05-17 06:16] lyptt commented on #103
Hey @yonaskolb! Thanks for filing this issue. Yes it's still being worked on, I've been a tad busy this past few weeks so I haven't had a chance to fix that final bug and do a bit of testing. I'll get the release out by tomorrow.

[2017-05-17 06:25] #103 closed

[2017-05-17 06:25] yonaskolb commented on #103
Is tvOS supported at the moment?

[2017-05-17 06:29] lyptt commented on #103
I believe the existing version supports tvOS, 2.0 definitely does although potentially only basic application targets at the moment.

[2017-05-18 06:26] #99 closed

[2017-05-18 06:26] lyptt commented on #99
Fixed in 2.0

[2017-05-18 19:35] lyptt commented on #103
Hi @yonaskolb! I've just released 2.0.0. Please note this is a fairly major upgrade as you'll see from the release notes, so if you encounter any oddities not captured by our automated tests please feel free to file an issue!

[2017-05-18 19:37] lyptt commented on #102
Hi @maximkhatskevich, apologies for not getting back to you sooner, I've been a tad busy! Could you try updating to 2.0.0 and confirm if you're still experiencing this issue?

I attempted to investigate and found it difficult to determine why you were experiencing this bug, so any more information you can provide would be extremely helpful!

[2017-05-18 19:43] lyptt commented on #52
I believe this may now be fixed, @jcampbell05 could you verify when you get time?

[2017-05-19 03:20] yonaskolb opened #104 "2.0 Migration"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[2.0.0]

It seems that when migrating a project to yaml in version 2.0.0, it still creates a 1.3.0 `project.yml` file

[2017-05-19 03:39] yonaskolb opened #105 "tvOS support"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[2.0.0]

## Spec version

[2.0.0]

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

Trying to generate a `platform: tv` target and get a

[2017-05-19 04:37] yonaskolb opened #106 "Scheme configurations"
Being able to specify schemes in `2.0.0` is great, but I see a few issues:
- there is no way to choose the build configuration other than in test. The rest just use `debug`
- The options under a target about enabling build types doesn't seem to have affect. They are all always ticked in the Build tab except `Test` no matter what options you provide. The default for these should probably be to just

[2017-05-19 04:50] lyptt commented on #106
Hi @yonaskolb, thanks for filing this issue. In terms of the default scheme, as far as I remember Xcode generates this automatically if a scheme with the same name as your target doesn't already exist. This may also be related to not having all your targets associated with a scheme.

I've confirmed that the build flags aren't being passed through to the entry in the scheme, so this will definitely

[2017-05-19 05:07] yonaskolb commented on #106
Thanks for the quick reply.
In terms of the build configuration defaults, the debug and release configs may not actually exist unless they have been specified, so they become invalid selections

[2017-05-19 05:17] lyptt commented on #106
Are you talking about the actual project configurations? 'debug' and 'release' are dynamically mapped from your Xcode project, so if you called your configurations 'blah' and 'boop', they would be specified as such in your schemes.

You'll also notice that schemes are generated _after_ the project, to ensure there's no race conditions there.

[2017-05-19 05:28] maximkhatskevich commented on #102
Thanks for the update! I'll keep testing, and will let you know if the issue still persists.

[2017-05-19 05:28] #102 closed

[2017-05-19 05:31] #104 closed

[2017-05-19 05:32] lyptt commented on #104
Hi @yonaskolb, this is now fixed in 2.0.1.

[2017-05-19 05:32] lyptt commented on #105
Hi @yonaskolb, this is now fixed in 2.0.1.

[2017-05-19 05:32] #105 closed

[2017-05-19 05:34] lyptt commented on #106
Hi @yonaskolb, the issue of 'enable' flags not applying is now fixed, however please note that they will be forced to their enabled state if for example you associate a test phase to a build phase. I suggest creating a feature request as a separate issue if you wish to further customise selecting a build configuration for a particular phase.

[2017-05-19 05:34] #106 closed

[2017-05-19 05:39] yonaskolb commented on #106
Thanks for fixing the flags :)
In terms of the default configs, yes, that's what I mean. Having only 'blah' (debug type) and 'boop' (release type) though doesn't set them as configurations for any build types. This is for both the custom scheme (which references non existing debug and release configs) or the default one (all build types reference the first config specified - blah)

[2017-05-19 05:46] lyptt opened #108 "Add support for specifying build configurations for scheme phases"
Currently we only support specifying build configurations for the test phase of a scheme, this should be extended to support specifying configurations for all phases of a scheme.

In addition, the build configuration mapping needs to be able to support custom build configurations, to support the scenario when only custom build configurations are present, and the original debug/Debug and release/Re

[2017-05-19 05:47] lyptt commented on #106
Hi @yonaskolb, I've created #108 to track this enhancement, you should be able to track progress there. PRs for this are definitely welcome!

[2017-05-19 23:54] brenthargrave opened #109 "cocoapods linking error"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version
2.0.1

## Spec version
spec('2.0.0')

## Which type of spec are you using?

- [ ] project.yml
- [ ] project.json
- [x] Specfile

## Context

Integrating cocoapods per the latest docs and coco

[2017-05-20 05:49] lyptt commented on #109
Hi @brenthargrave, thanks for filing this issue. Have you run pod install before generating the project? If you miss this step then struct won't be able to add the frameworks to your build phases.

You can also make sure this happens by using a [pre-generate hook](https://github.com/workshop/struct/wiki/Specfile-format%3A-v2.0#lifecycle-hooks).

[2017-05-20 06:08] yonaskolb commented on #108
This seems to be the only thing holding us back from moving to Struct, so looking forward to getting this implemented!

[2017-05-20 06:23] lyptt commented on #109
Hi @brenthargrave, I found the issue. Due to the way Cocoapods works, they expect the standard 'Debug' and 'Release' project configuration profiles to be used, rather than struct's default 'debug' and 'release'.

I've updated the wiki with this in mind, and reproduced the steps below.

----------

You will also need to use the default project configuration names when making use of Cocoapods, as Co

[2017-05-20 06:25] #109 closed

[2017-05-20 06:26] lyptt commented on #108
Hi @yonaskolb, I'm working on a few improvements to Struct today, I'll try and get this in for the next release!

[2017-05-20 06:30] lyptt opened #110 "Allow for 'debug' and 'Debug' to be used interchangeably without declaring the type"
Currently 'debug' and 'release' are the default configuration names in Struct. When using the Xcode-default 'Debug' and 'Release' names, you need to declare the type for certain build operations to work in struct.

This should be changed to make project generation easier.

[2017-05-20 06:34] lyptt opened #111 "Add project configuration shorthand for Specfile when using default configuration names"
Currently you need to specify a block for a project configuration declaration even if you're not modifying anything inside it, for example:

[code]

This should be changed so that when using the default configuration names, a block isn't required, for example:

[code]

[2017-05-20 06:46] #110 closed

[2017-05-20 06:55] #111 closed

[2017-05-20 11:24] lyptt commented on #108
This is now fixed in Struct 2.1.0 / Spec 2.1.0. You should be able to take advantage of this change by specifying version '2.1.0' in your spec file.

[2017-05-20 11:24] #108 closed

[2017-05-20 11:44] yonaskolb commented on #108
Thank you, much appreciated! 😀👍

[2017-05-20 12:00] lyptt commented on #108
No problem! Let me know if you have any further issues 👍

[2017-05-21 07:51] yonaskolb opened #116 "Error migrating"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version
[2.1.0]

## Context

Migrating an Xcode project with Struct 2.1.0 fails with error:
[code]
This was also a similar problem with the initial 2.0.0 release, though there the generated spec was

[2017-05-21 07:55] yonaskolb opened #117 "Generate options"
It would be useful to pass an optional path to a spec, and also an optional project name when generating:
[code]
If no spec path is passed it uses the default `project.yml`. If no project is passed it uses the name of the spec file

[2017-05-21 08:04] lyptt commented on #116
Hi @yonaskolb, thanks for filing this issue! It appears to be fairly easy to reproduce, so I'll get this fixed up shortly.

[2017-05-21 08:08] lyptt commented on #117
Hi @yonaskolb, struct always looks for common names for the project files, for YAML/JSON it's `project.{yaml|yml|json}` and for Specfiles it's `Specfile`. This is mainly around consistency more than anything, and follows similar conventions to Fastlane's Fastfile, Cocoapod's Podfile, etc.

Project names can be changed by using variants - each variant name will be the name of the project, and you c

[2017-05-21 08:17] yonaskolb opened #118 "Target configuration and configurations"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[2.1.1]

## Spec version

[2.1.1]

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

When specifying a target it's not possible to have b

[2017-05-21 08:19] yonaskolb commented on #117
Got it, makes sense, thanks

[2017-05-21 08:19] #117 closed

[2017-05-21 08:19] lyptt commented on #118
Hi @yonaskolb, that's correct, if you're using xcconfig references, you need to specify your INFOPLIST_FILE inside the xcconfig file. Currently, you can either use xcconfig references, or overrides, but not both.

This is currently described in the [documentation](https://github.com/workshop/struct/wiki/Spec-format%3A-v2.0#target-configuration):

[2017-05-21 08:21] yonaskolb commented on #118
Yes, but xcode configuration references are set on a project level. While specific `overrides` are set on a target. There should be no reason to not allow both of them right?

[2017-05-21 08:24] yonaskolb commented on #118
If it's just limited to xcodeconfig files, then variants lose a lot of their power as you can't set specific build settings on them while still having fallback project configurations

[2017-05-21 08:25] lyptt commented on #118
In struct, you can set configuration references on a project level, and an individual target level. From the above example you've posted, it appears you're setting them on a target level. If you wish to achieve the behaviour you describe, you can do as follows:

[code]

[2017-05-21 08:26] yonaskolb commented on #118
Well I actually have different targets that all point to different xcode config files

[2017-05-21 08:27] lyptt commented on #118
In this scenario, your individual targets' xcconfig files would need to specify the INFOPLIST_FILE within them. Currently Struct does not support combining xcconfig references with configuration overrides.

[2017-05-21 08:29] lyptt commented on #116
This is now fixed in version 2.1.1.

[2017-05-21 08:29] #116 closed

[2017-05-21 08:34] yonaskolb commented on #118
It wouldn't need to combine xcconfig references.
Whenever a target has a xcconfig file set for a special project configuration, those build settings sit above a target's build settings. All I'm asking for is to change a target's build settings while also still referencing an xcodeconfig file for the project config. Then the target has these levels of build settings viewable in Xcode as level:
`Tar

[2017-05-21 08:35] lyptt commented on #118
Yes, I believe we're talking about the same thing. Currently Struct does not support specifying build settings in addition to an xcconfig file. I'll mark this as a feature request for 2.2.0.

[2017-05-21 08:37] yonaskolb commented on #118
Ok cool. Is it just a case of removing a check that limits it to one? Because both features work independently at the moment, just not together.

[2017-05-21 08:43] lyptt commented on #118
The `configurations` and `configuration` block behaviour would need to remain the same. `configuration` is shorthand for specifying a full `configurations` block when all of your configuration settings are identical. This is why you can only specify one or the other.

Behind the scenes when specifying a `configuration` block, Struct will generate a target configuration entry based on that block fo

[2017-05-21 08:46] yonaskolb commented on #118
Ok got it. If adding that extra functionality to configurations then it would be good to have some way of specifying a build setting once if it's the same for each configuration. Maybe a `$base` config?

[2017-05-21 08:49] lyptt commented on #118
Hi @yonaskolb, we actually added this to 2.0.0, but it hasn't been documented yet. You can use it like this:

[code]

[2017-05-21 08:50] lyptt commented on #118
This may actually solve your issue in the short term too, I don't believe we restrict adding build settings from $base to configurations using xcconfig references. If my theory is correct, you should be able to do something like this:

[code]

[2017-05-21 08:51] yonaskolb commented on #118
Oh cool! Yeah there are a few things that don't seem to be documented, notable schemes
https://github.com/workshop/struct/wiki/Spec-format%3A-v2.0

[2017-05-21 08:52] yonaskolb commented on #118
Yes, that works using `$base`, thanks!

[2017-05-21 08:52] lyptt commented on #118
Yes documentation for 2.0.0 is being improved gradually. If you find anything that's missing or doesn't appear to work as described, feel free to file an issue!

[2017-05-21 08:57] yonaskolb opened #120 "Variant parents"
Given that variants extend the base config, would it be useful to be able to specify a variants "parent"? This would let you create multiple abstract variants and then extend them.
This could be achieved by nesting variants (variants specifying their own variants), but then you would be forced into a single tree and wouldn't be able to share abstract variants between multiple generated variants, s

[2017-05-21 08:59] lyptt commented on #120
Hi @yonaskolb, nice idea! I'll take this under consideration for a future release.

[2017-05-21 09:03] yonaskolb opened #121 "Target type warnings (Add support for tvOS)"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[2.1.0]

## Spec version

[2.1.0]

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

When generating a spec with a `tv-app-extension` tar

[2017-05-21 09:09] lyptt commented on #121
Hi @yonaskolb, thanks for filing this issue. Yes, right now for tvOS only the application target is supported. tvOS is the only platform left to support before Struct supports every platform, I'm hoping to get this in for the next release.

Fundamentally as you've noticed the main thing we need to do to support new platforms is add new configuration profiles, however there may be additional work n

[2017-05-21 09:27] yonaskolb opened #122 "Target references not working (Add support for linking to framework targets within the same project)"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[2.1.0]

## Spec version

[2.1.0]

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

Trying to add a target as a reference to another

##

[2017-05-21 09:42] yonaskolb commented on #108
This doesn't seem to work...
Specifying `build_configuration` for build types other than test doesn't do anything. Still uses default values of `debug` and `release` even though they don't exist

[2017-05-21 09:55] lyptt commented on #122
I believe this was an oversight when adding target reference support. Ideally we should support the use case of linking to framework targets within the same project.

I've done a quick proof of concept that works, however there are complications around adding support for this and having it link and embed a framework automatically, as there are multiple kinds of framework, and only one kind can be

[2017-05-21 09:58] lyptt commented on #108
Hi @yonaskolb, this should work, I verified the functionality as best I could before merging. For example, the [sample project](https://github.com/workshop/struct/blob/master/examples/iOS_Application/project.yml) changes the `archive` phase to use the `appstore` build configuration.

Could you please provide your project file so I can investigate further?

[2017-05-21 09:58] yonaskolb opened #123 "Target reference not found error (improve error handling for TargetReference)"
If specifying a target as a target reference, and the wrong name is supplied, generate fails with a non sensical error:
[code]

This is contrast to the human readable warning that is correctly show when framework can't be found when using `location: path_to_framework`:
[code]

[2017-05-21 09:59] lyptt commented on #123
Good spot! We need to clean up this error so it's more user-friendly.

[2017-05-21 10:06] yonaskolb commented on #108
Ok found the issue. It indeed works with your example. The reason it failed was because I seemingly wasn't specifying all the options. I just had:
[code]
As soon as the `name` parameter is added it works. I guess there are 2 issues here:
1. No warnings if something goes wrong parsing the schemes (which I assume is why it failed)
2. A lack of sensible defaults. Ideally Struct should provide default

[2017-05-21 10:10] lyptt commented on #108
Hi @yonaskolb, I agree on your points. Whenever possible we do try to do those steps, I should remark though that it's a fine line when determining what constitutes as invalid when it comes to parsing.

We're tracking a Project Linting feature (#49) that would solve this very issue, by providing common steps to fix incorrect common project configuration issues. This is currently on-going work, and

[2017-05-21 10:10] yonaskolb opened #124 "How to link to Carthage dependancies"
I'm trying to add references to Carthage dependancies like this
[code]
But the target doesn't build saying `No such module 'Alamofire'`. Is there more configuration required to get this working?

[2017-05-21 10:13] yonaskolb commented on #108
Just to add I actually just noticed that point 1 is somewhat implemented with some warnings, but not enough cover all required build type properties it seems

[2017-05-21 10:14] lyptt commented on #124
Hi @yonaskolb, that is correct syntax yes, but make sure to also declare your FRAMEWORK_SEARCH_PATHS. You need to include the directory containing your Carthage frameworks in order for Xcode to resolve them (annoyingly).

For example, in your case, you could do something like this:

[code]

Ideally we should auto-inject the directories into your settings (this has literally just sprung to mind now

[2017-05-21 10:16] lyptt commented on #108
Hi @yonaskolb, that's correct, we have a lot of these already, and #49 should make sure we've covered any possible parsing / configuration issues with warnings.

[2017-05-21 11:30] yonaskolb commented on #121
For getting these profile settings, I could imagine something fancy like an automated process that creates a new XCode targets using AppleScript or something, and then reading the settings from that project to create profiles 🤖 😄

[2017-05-21 11:40] lyptt commented on #121
Yeah it could definitely be achievable - my process is usually as follows:

- Create the target in Xcode with an easily identifiable name
- Open the pbjproj file, search for the target's configuration block
- Copy out all of the settings for Debug & Release, strip out any settings covered by platform / base configurations
- Save these into a target profile following the correct naming convention
-

[2017-05-21 11:45] yonaskolb commented on #89
This would be useful for integrating Carthage, for adding the `copy-frameworks` script which takes a bunch of input files as mentioned here https://github.com/Carthage/Carthage#getting-started
Is there a better way to integrate Carthage using Struct?

[2017-05-21 11:52] lyptt commented on #89
Hi @yonaskolb. Struct was actually designed originally to only support Carthage, and on a fairly big project we never needed the copy-frameworks command. On a fairly large codebase with lots of mixed dependencies, we didn't have any issue with Carthage frameworks.

This is something I'm actively considering for 2.2.0, but I suggest trying without the script for the time being.

[2017-05-21 11:58] yonaskolb commented on #124
I can get it building now, but at runtime I get this error:
[code]
This is how the target references are specifed:
[code]

Is there something else required?

[2017-05-21 12:04] lyptt commented on #124
Hi @yonaskolb, nearly there!

I think the final thing you need to do is specify that the references should be copied and code signed, if you skip doing this the frameworks will not be embedded into your application. This is due to the fact that a lot of frameworks do not support being embedded (fake frameworks, etc), and only support being linked. To err on the side of caution, this is opt-in when

[2017-05-21 13:46] yonaskolb opened #125 "Deterministic generation"
It would be great if the generated Xcode project was deterministically generated, meaning if it was generated with the same spec, the output would be the same.
This would aid in diffs (even though I know the aim of Struct is not to have the xcode project checked in), but more importantly would stop Xcode from reloading a project even though there are no real changes.

I'm not sure if you have any

[2017-05-21 13:54] lyptt commented on #125
Ah that's very interesting! I missed this when I looked at Xcodeproj's documentation. One of the bigger caveats to Struct's watch mode is that occasionally Xcode will enter a broken state when it reloads the project due to the UUIDs changing, and one of its code paths not being able to handle it.

If the UUIDs are deterministic, that should help solve the issue. I'll definitely look into this!

[2017-05-22 11:45] yonaskolb commented on #124
Ok, setting those properties works, while quite verbose.
Now, I'm having an error:
[code]
I've added the following to the application target, but no luck
[code]

[2017-05-22 12:24] jcampbell05 commented on #124
@yonaskolb whats in the linker build setting for your project ?

[2017-05-22 12:59] lyptt commented on #124
@yonaskolb are those libraries added to your framework target? That's what dyld is complaining about.

[2017-05-22 13:20] yonaskolb commented on #124
@jcampbell05 There don't seem to be any linker build settings set specifically for the project or any of the targets. (That group of settings under `Linking` in Xcode if that's what you mean?)

@lyptt Yes, those libraries are added to the framework targets in the same way. Those framework targets also rely on the AVFoundation libraries

Speaking of framework targets, my project is such that I have

[2017-05-22 13:53] jcampbell05 commented on #124
@yonaskolb yeah I'm meaning the flag that specifies what to link

[2017-05-22 13:56] lyptt commented on #124
@yonaskolb in my experience using Carthage, it expects every Carthage framework you use to be linked to to the application target in addition to its dependencies, due to its flat dependency tree / dependency resolution behaviour.

It could be that Carthage is auto-adding the dependent frameworks for you when you run `carthage copy-frameworks` in a run script phase, but I'm not certain of this.

In

[2017-05-22 14:24] yonaskolb commented on #124
The way our project is now without Struct we only have to specify carthage dependancies in the framework targets. Those frameworks are then embedded in the application, and the `copy-frameworks` is run on that application.

Due to missing support for input files in build scripts, and lack of embedding binaries, this doesn't work. I'm ok with specify all the carthage dependancies in the application

[2017-05-22 15:43] yonaskolb opened #127 "Post generate doesn't run on it's own"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[2.1.1]

## Spec version

[2.1.1]

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

The `post-generate` script doesn't run unless the `p

[2017-05-22 16:03] yonaskolb opened #128 "Localized resources"
In the documentation it mentions that adding localized resources is as simple as specifying a directory to find `.lproj` directories in using `i18n-resources: myTarget`
https://github.com/workshop/struct/wiki/Spec-format%3A-v2.0#i18n-resources

It seems though that localized resources are only added when specifying the full path to the `.lproj` directory i.e `i18n-resources: myTarget/Base.lproj`

[2017-05-22 16:11] yonaskolb opened #129 "Excludes"
The documentation says that excludes are defined like this:
https://github.com/workshop/struct/wiki/Spec-format%3A-v2.0#excludes

[code]
Given that there is a `files` property, is there any other way to define excludes? Is the `files` property required?

[2017-05-22 16:15] yonaskolb opened #130 "$config group"
Setting xcode configuration files for each config results in the creation of a top level group in the project called `$config`, even though none of the files need to be in the list of files included in the project

[code]

[2017-05-22 16:15] lyptt commented on #128
Hi @yonaskolb,

If you take a look at the [example project](https://github.com/workshop/struct/tree/master/examples/iOS_Application), you'll see that specifying the folder containing your resource files is enough.

Also, if your resource files are in the same location as your source files, you don't need to specify a resources folder, as this is done for you by default.

[2017-05-22 16:17] lyptt commented on #130
Hi @yonaskolb,

This is intentional. This is done to allow you to edit the xcconfig files from within Xcode as an alternative to using the grouped build settings view.

[2017-05-22 16:24] lyptt commented on #129
Hi @yonaskolb,

In the future excludes will be expanded to support more than files, for now that's all excluded supports.

[2017-05-22 16:25] lyptt commented on #127
Interesting! Thanks for filing this. I'll aim to get this fixed up for 2.2.0

[2017-05-22 16:29] yonaskolb commented on #128
Ah ok. There was some confusion between `lproj` directories and `.lproj` directories.

There also seem to be some inconsistencies in how group names are generated (`$lang:MyTarget`) or if localized files are in any groups at all, depending on how they are brought in, but that needs more testing to provide more solid info

[2017-05-22 16:31] lyptt commented on #128
Hi @yonaskolb,

Resource directories are namespaces by target name, whereas every other dynamic directory will have a shortname ($local, $subproj, $config, etc). This is to avoid each target's resources being lumped into one big list.

[2017-05-22 16:32] lyptt commented on #128
I'll close this issue since you seem to have found your problem. Please let me know if this is still an issue.

[2017-05-22 16:32] #128 closed

[2017-05-22 16:33] yonaskolb commented on #130
Ok. If multiple targets have config files though, only those for the first target are added to that group. Would `configurations` be a better name than `$config`? I guess you were trying to avoid name clashes

[2017-05-23 05:46] lyptt commented on #130
Hi @yonaskolb, I've just tested this on a sample project with two targets that have their own unique xcconfig files:

[code]

With this configuration, all xcconfig files are present:

<img width="323" alt="screen shot 2017-05-23 at 06 46 16" src="https://cloud.githubusercontent.com/assets/346710/26339948/8809e8de-3f83-11e7-90c7-032dabab0b45.png">

[2017-05-23 05:47] yonaskolb opened #132 "Configuration and build setting changes"
This is a proposal of a different way to specify configurations and build settings. It has a few different ideas in it that work together. You can take it or leave it, but let me know what you think. My examples are using the yaml format.

### Separation of configurations and build settings
Overrides are removed from `configurations` and `target.configurations`. A new property called `buildSetting

[2017-05-23 05:47] #129 closed

[2017-05-23 05:51] yonaskolb commented on #130
Yeah, I just tested this again. It does work as you say, but only if those config files are included in a target's sources. Makes sense. And if I didn't want to see the in the groups, I can leave them out of sources 👍

[2017-05-23 05:51] #130 closed

[2017-05-23 05:54] lyptt commented on #132
So this essentially is proposing the ability to pre-define your overrides in another section, then reference them in project and target configurations? Essentially expanding out the $base concept.

There are ways to do this right now in YAML natively, however it's not the easiest syntax to understand:

[code]

I'll definitely take this under consideration. Thanks for proposing this!

[2017-05-23 05:59] yonaskolb opened #133 "Shared source folders"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[2.1.1]

## Spec version

[2.1.1]

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

If two different targets both reference the same sou

[2017-05-23 06:02] lyptt commented on #133
Hi @yonaskolb, unfortunately this isn't a supported use case.

With Struct, a key convention is for your filesystem to be an identical representation of your project structure, the [Migrating Xcode projects](https://github.com/workshop/struct/wiki/Migrating-Xcode-projects) page mentions this:

[2017-05-23 06:05] lyptt commented on #133
The reasoning behind this decision is that it should be obvious from a glance exactly where a file comes from, and which target it belongs to. If you're sharing files between targets, that isn't a possibility, as now you need to inspect the file to see which targets it's added to.

Struct's primary goal is enabling a simplified Xcode workflow that's more in line with more modern development workfl

[2017-05-23 06:13] yonaskolb commented on #133
Understood. Though in some cases it's necessary in cross platform apps.
Say you have a bunch of files, and they both need to shared between an iOS and tvOS framework. That is a common scenario. Is there another way to have cross platform frameworks in Struct?

The example above was actually for 2 application targets. I just tested with 2 framework targets, and it seems the duplication doesn't occu

[2017-05-23 06:17] lyptt commented on #133
Hi @yonaskolb, yeah you'll probably encounter strange behaviour as it's not a supported workflow in Struct. We should add this to project linting so there's at least a warning issued to the end-user.

Cross platform frameworks is something I hadn't considered, potentially this could be solved with a higher level mechanism, for example allowing you to declare multiple platforms for a target:

[code

[2017-05-23 06:25] lyptt opened #134 "Add support for cross-platform targets"
Currently a target can only be associated with one platform, however a common use case is to have multiple targets per-platform from a single source set to enable that target to be consumed on multiple platforms.

This feature would enable a target to specify multiple platforms, as follows:

**YAML/JSON**
[code]

**Specfile**
[code]

This would perform a few actions within struct:

- For each plat

[2017-05-23 06:25] lyptt commented on #133
Hi @yonaskolb, this is now being tracked in #134.

[2017-05-23 06:25] #133 closed

[2017-05-23 06:27] yonaskolb commented on #133
Yeah that would be great solution! Much better than currently defining duplicate targets with differing platforms. One wrinkle though would be how to reference Carthage dependancies as they are build per platform `- location: Carthage/Build/tvOS/BrightFutures.framework`. Another problem would be if that cross platform "target" referenced another cross platform "target". Struct would need to intell

[2017-05-23 06:28] yonaskolb commented on #133
Moved comment to #134

[2017-05-23 06:28] yonaskolb commented on #134
Great solution! Much better than currently defining duplicate targets with differing platforms. One wrinkle though would be how to reference Carthage dependancies as they are build per platform `- location: Carthage/Build/tvOS/BrightFutures.framework`. Another problem would be if that cross platform "target" referenced another cross platform "target". Struct would need to intelligently get it to r

[2017-05-23 06:29] lyptt commented on #133
Hi @yonaskolb, yes we'll try to get this into 2.2.0, it shouldn't be too difficult to support. Thanks for filing your issues! It'll definitely allow us to make Struct better.

[2017-05-23 06:31] lyptt commented on #134
Hi @yonaskolb, yes we'll have to come up with a mechanism to only link to a specific platform's frameworks. Potentially we could namespace the references when using multiple platforms, for example:

[code]

[2017-05-23 06:35] yonaskolb commented on #134
Or some sort of substitution system using mustache `{{ platform }}`, xcconfig style `${platform}`/`$(platform)`, yaml referencing, or any other style:
[code]

[2017-05-23 06:37] yonaskolb commented on #134
Generating multiple platform targets from 1 would also affect anything referencing those targets, like another target trying to pull in one of those targets as a dependancy

[2017-05-23 06:39] lyptt commented on #134
Yes we'd have to do a platform resolution step when resolving references to ensure that the correct target is selected as a reference.

[2017-05-23 06:46] yonaskolb commented on #134
I don't want to rush you at all, but when would you estimate something like this would be completed, along with a guesstimate of the actual 2.2.0 release?

[2017-05-23 06:48] lyptt commented on #134
Hi @yonaskolb. I have a full day to work on this tomorrow, so I recommend keeping an eye on the project over the next couple of days.

Chances are we can get this done very soon (days rather than weeks), but certain parts will require some thought.

Even if we don't end up releasing this week, we should still be able to get something usable in develop!

[2017-05-23 07:14] yonaskolb commented on #132
Another possible additional change here would be to remove configurations from target entirely and specify each target xcode configuration files in the top level configurations.
Additionally an optional project xcconfig file could be applied with `config`
[code]

This change isn't required but could be considered. This would match the Xcode UI even more, making the mental model simpler, and keeps

[2017-05-23 07:26] lyptt commented on #132
In this scenario I think that moving target configuration out of the target definitions would make it more difficult to see at a glance how each target is configured.

I'm also keen to stick to each block having its own concerns. With the exception of variants, each block could be reused in another spec file with a simple copy paste.

Fundamentally spec files aren't meant to be a direct clone of x

[2017-05-23 07:44] yonaskolb commented on #108
Just a note that there is no section for `analyze` so the build configuration for that can't be set

[2017-05-23 07:46] yonaskolb commented on #132
Yep, makes sense, I actually agree. Just thought I'd put it out there as an option

[2017-05-23 07:46] lyptt commented on #108
Hi @yonaskolb, I must've missed that one! I'll file a new issue for it

[2017-05-23 07:47] lyptt opened #135 "Add support for analyze scheme phase"
Currently Struct cannot define the analyze phase of a scheme, this change would introduce a means of declaring scheme analyze phases.

[2017-05-23 07:57] lyptt commented on #132
Thinking about this further, I think based on my previous comment this would add ties between target blocks and the overall spec file that would make things more difficult to maintain. There are existing ways to do this without relying on a spec schema change:

**YAML (not JSON)**
[code]

**Specfile**
[code]

[2017-05-23 07:57] #132 closed

[2017-05-23 07:58] lyptt commented on #134
@yonaskolb since you're one of the first devs that'll be using this feature, I'll mention you on the pull request when it's ready to merge. If you could provide feedback at that time, that would ensure that the implementation of this feature is enough for your needs.

[2017-05-23 19:48] #127 closed

[2017-05-23 19:48] #125 closed

[2017-05-23 21:07] #122 closed

[2017-05-23 21:07] #123 closed

[2017-05-23 22:00] #89 closed

[2017-05-24 05:41] #135 closed

[2017-05-24 06:57] yonaskolb commented on #132
Just as a note splitting up configuration xcconfig files and build setting would also fix #118

[2017-05-24 07:17] #121 closed

[2017-05-25 09:24] yonaskolb opened #141 "Headers broken in cross platform targets"
Getting things linking properly with #140 has highlighted something. Is it possible to define headers for a framework?

Basically I have a framework A that references framework B. When an application import framework A, I don't want to have to import framework B as well. This was achieved in our project my importing framework B in Framework A's header file.
I can't see a way though to specify head

[2017-05-25 09:25] lyptt commented on #141
Hi @yonaskolb, yes it is, they should be getting picked up. Struct puts all headers in the 'Public' group.

[2017-05-25 09:33] yonaskolb commented on #141
This may be a bug then. I have a framework target with `sources: frameworkFolder`.
There are 2 header files at `frameworkFolder/iOS/FrameworkName.h` and `frameworkFolder/tvOS/FrameworkName.h`. They show up in the group though aren't getting linked anywhere.

[2017-05-25 09:39] yonaskolb commented on #141
Removing one of them fixes the issue. I guess if struct pulled both of these in anyway, it would be an error, as it's supposed to be one per platform.
I can probably work around this and just have a single header file for both platforms

[2017-05-25 09:41] lyptt commented on #141
That's interesting, the folder in the middle should make the filenames be unique. I'll have a look into that.

[2017-05-25 09:59] yonaskolb commented on #141
Also, it seems with even only file, it isn't added to public headers but instead to the copy bundle resources build phase

[2017-05-30 08:28] lyptt opened #142 "Add support for shared source sets"
Currently source files can only be added to one target. This issue is to enable support for sharing source files between multiple targets to enable support for cross platform application development with Struct.

[2017-05-31 05:50] yonaskolb commented on #141
Hi @lyptt. Any chance you could look at this?

[2017-05-31 05:53] lyptt commented on #141
Hi @yonaskolb, can you try doing this with a standard target rather than a cross platform one? The example framework project has working header files:

<img width="1288" alt="screen shot 2017-05-31 at 06 53 16" src="https://cloud.githubusercontent.com/assets/346710/26617598/dbdef1ca-45cd-11e7-88ee-86caa1ffa66e.png">

[2017-05-31 05:56] #142 closed

[2017-06-01 01:52] yonaskolb opened #144 "Cross platform product name issue"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[2.2.0]

## Spec version

[2.2.0]

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

When defining multiple targets for a cross platform

[2017-06-01 01:54] yonaskolb commented on #141
I can confirm this works properly in single platform targets, and therefore in the currently released version

[2017-06-01 05:44] lyptt commented on #144
Hi @yonaskolb, thanks for filing this issue. I've released 2.2.1 which allows target names to be overridden by the PRODUCT_NAME setting just like Xcode does. This change can be taken advantage of regardless of spec version.

You will need to change your reference to not have the '_iOS' suffix, like so:

[code]

[2017-06-01 05:44] #144 closed

[2017-06-01 05:50] yonaskolb commented on #144
Thanks @lyptt! Being able to remove the platform suffix is actually a nice plus 👍

[2017-06-01 20:38] yonaskolb commented on #144
I think there's some problems with the fix in 2.2.1

The targets have their name changed from the target name to product name, which means there are frameworks with duplicate names. This means:
- they are hard to tell apart
- the automatically created schemes that xcodes creates have names like `MyFramework` and `MyFramework 2`
- most importantly, if the second framework is referenced (tvOS framew

[2017-06-01 20:55] lyptt commented on #144
Hi @yonaskolb, so in order to figure out how to get this to work, I did the following:

- Created a new project in Xcode - iOS blank application
- Added a new framework target, iOS
- Added a new framework target, tvOS
- Changed each framework target's PRODUCT_NAME to be without a prefix

In this scenario, it's exactly as you described. The targets both have the same name.

For schemes, I think you

[2017-06-01 20:57] lyptt commented on #144
One possible change to introduce would be to override just the product name, instead of both the product name and the target name. I think this would be a schema change however.

[2017-06-01 21:16] yonaskolb commented on #144
Yeah, I think leaving the target name alone would be a better option.

The problem I'm having is if you have a second application that needs a different cross platform target, it's pointing to the wrong one. That scenario should be tested

[2017-06-01 21:25] lyptt commented on #144
I'll take that under advisement for a future release.

[2017-06-01 21:32] yonaskolb commented on #144
Just as a note, this problem also applies to a cross platform target that references another cross platform target

[2017-06-01 21:34] lyptt commented on #144
What do you mean by cross platform targets in this situation? We're talking about two targets with a shared source folder right? You may need to clarify in more detail, since cross platform targets are a separate concept in struct.

[2017-06-01 21:45] yonaskolb commented on #144
I mean 2 targets with a shared source folder and same product name, referencing another 2 targets with shared source folder and product name.

Here's an example with the current non suffix reference names
[code]

[2017-06-01 21:50] yonaskolb commented on #144
Here's the example with the tvOS app which also results in a failed reference, as it also can't differentiate between the frameworks without the suffix:
[code]

[2017-06-14 07:26] yonaskolb commented on #144
Hi @lyptt
Do you have any updates on this? This issue is preventing us from moving forward

[2017-06-14 07:39] lyptt commented on #144
Hi @yonaskolb, apologies I've been a bit busy lately. I'll have a look tonight

[2017-06-15 18:45] nwh opened #147 "undefined method `key?' for nil:NilClass"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

[code]

## Spec version

Started with example from getting started guide:

[code]

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

Erro

[2017-08-15 18:45] steveholt55 opened #148 "undefined method `new_file'"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version
2.2.1

## Spec version
2.2.1

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context
Running struct generate through Jenkins is giving me this e

[2017-08-31 17:11] lyptt commented on #148
Hi @steveholt55, thanks for filing this issue. Would you be able to upload your project.yml so I can take a look? Either that or a simple test case would be very helpful. Thanks!

[2017-08-31 17:16] lyptt commented on #124
As input files are now supported by struct, it's likely that this is no longer an issue. @yonaskolb please re-file if this comes up again.

[2017-08-31 17:16] #124 closed

[2017-08-31 17:20] #118 closed

[2017-08-31 17:20] #52 closed

[2017-08-31 17:41] lyptt commented on #50
I think the current CI solution will be good enough for now. Worth re-evaluating later.

[2017-08-31 17:41] #50 closed

[2017-08-31 18:06] lyptt commented on #147
Hi @nwh, thanks for filing this issue, and apologies for the delay in getting back to you. Struct is correct in reporting an error here, as in the documentation for spec file formats < v2 profiles are required in configuration blocks.

Struct should however be reporting a nicer error than this, so I'll go head and get this fixed up for the next release.

[2017-09-13 21:44] steveholt55 opened #150 "Support for .cpp files?"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

2.2.1

## Spec version

2.2.1

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

I'm not sure if I'm missing something but I'm unable to

[2017-09-13 21:50] steveholt55 commented on #150
My guess is line 44 needs to change to include .cpp.  `https://github.com/workshop/struct/blob/1749e889bbbc9f9f0907b1a2e2a8945811bf86e2/lib/spec/processor/target_source.rb`.  I'd love to work on this but I have no idea how to build and use this locally.  Is there a beginners guide to contributing to this project?  I don't know much about ruby/ruby gems 😀

[2017-09-13 21:55] lyptt commented on #150
Hi @steveholt55, thanks for filing this issue. Yeah as far as native files go we only have partial support, but it should be pretty easy to add!

In terms of running this locally, you should be able to get going by following the following steps (pretty typical for any Ruby gem):

- `gem install bundler`
- `gem install rake`

Then from the cloned repository:
- `rake install`

Then when you run `str

[2017-09-13 21:59] steveholt55 commented on #148
@lyptt - This is an example of my project.yml.  I had to change a few things related to my project but this is the gist of what I'm doing. [project.txt](https://github.com/workshop/struct/files/1301090/project.txt).  I'm also using this for Jenkins (`https://github.com/stisti/jenkins-app`)

[2017-09-13 22:00] steveholt55 commented on #150
Thanks! I'll take a look at running this locally.

[2017-09-14 12:53] lyptt commented on #148
Thanks for this! I think this may just be purely an indentation issue. Unfortunately the error struct is giving here isn't that helpful. Line 36 should be two spaces to the left in order to ensure it contains the 'sources' statement, rather than sitting alongside it.

Would you mind giving that a try?

[2017-09-27 06:35] #134 closed

[2017-09-27 06:35] #141 closed

[2017-09-27 06:36] #120 closed

[2017-09-27 06:36] #97 closed

[2017-09-27 06:36] #58 closed

[2017-09-27 06:38] #147 closed

[2017-09-27 06:39] lyptt commented on #148
I'm closing this issue for now, @steveholt55 please let me know if you're still having issues!

[2017-09-27 06:40] lyptt commented on #54
Documentation has been improved during Struct 2.x, however this will be an on-going task going forward.

[2017-09-27 06:40] #54 closed

[2017-09-27 06:40] #53 closed

[2017-09-27 06:41] lyptt commented on #49
I think this can be extended out into a whole other tool, since this would be quite involved.

[2017-09-27 06:41] #49 closed

[2017-09-27 06:42] lyptt commented on #150
This is now merged and will be in 3.1.0.

[2017-09-27 06:42] #150 closed

[2017-09-27 08:51] jcampbell05 commented on #49
@lyptt sure :) I think fastlane also have a new tool that does something like this.

[2017-10-18 15:36] steveholt55 commented on #148
@lyptt I'm still having issues with this, updated to struct 3.1.0 and I'm still getting the error.  It isn't the spacing issue because I'm able to run struct perfectly if I just cd to my Jenkins directory. The issue only happens when running the struct command inside of Jenkins.  Also the spacing issue was just because I was changing some of the real values before I attached it here and didn't loo

[2017-10-18 15:40] steveholt55 commented on #148
This is the full stack trace I get.  You're seeing lots of fastlane because I'm running struct from fastlane.

[code]

[2017-10-18 18:42] steveholt55 commented on #148
@lyptt I added a test project demonstrating the issue [folder.zip](https://github.com/lyptt/struct/files/1395910/folder.zip).  Note that after extracting the .zip you'll see a folder called `non_hidden`. There is also a folder that is hidden called `.example` Both folders should have identical contents, the only difference is one is hidden and the other is not.

Running `cd .example/project;struct

[2017-10-18 19:14] lyptt commented on #148
Hi @steveholt55, thanks for the sample project! I'll check this out and see what's going on.

[2017-10-18 19:38] lyptt commented on #148
I believe I've identified a fix for this issue, thanks for the additional help in reproducing this!

[2017-10-18 21:34] steveholt55 commented on #148
Verified this fixes my issue. Thanks!

[2017-10-19 06:08] lyptt commented on #148
Great! I'll release a new version with this fix in shortly.

[2017-10-19 06:08] #148 closed

[2017-10-30 17:09] eiditakahashi opened #159 "`Info.plist` files ignored"
## New Issue Checklist

- [ ] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

`2.2.1`

## Spec version

`2.2.1`

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

`GoogleService-Info.plist` ignored

## Reproduction

[2017-10-30 17:49] lyptt commented on #159
Hi @eiditakahashi, thanks for filing this issue. As far as I recall there’s no major issue which required I prevent adding Info.plist files other than the caveat that they shouldn’t be copied to the resources folder as this is taken care of by Xcode.

I’ll investigate this in more detail tonight, should be an easy enough fix!

[2017-11-02 07:28] lyptt commented on #159
Apologies for the delay on this one, I've gotten a couple of test faillures with the change to include non-Info.plist files. I should have a release ready soon!

[2017-11-03 06:52] lyptt commented on #159
This is now fixed in 3.1.2.

[2017-11-03 06:52] #159 closed

[2017-11-19 16:49] maximkhatskevich opened #161 "Wrong target naming when 'PRODUCT_NAME' setting is presented"
## New Issue Checklist

- [x ] Updated struct to the latest version
- [ x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

3.1.2

## Spec version

2.1.0

## Which type of spec are you using?

- [ x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

When target has 'PRODUCT_NAME' build setting set to a

[2017-11-19 16:55] lyptt commented on #161
In order to change your PRODUCT_NAME, simply change the name of the target. The two are intrinsically linked in Struct and it's not currently supported to make target names and product names inconsistent with one another

[2017-11-19 16:59] maximkhatskevich commented on #161
Thanks for letting me know. That's actually sad. I use this property a lot, it's important to be able distinguish them for me. @lyptt do you mean it's not even considered as a bug that you would fix anytime soon?

[2017-11-20 12:19] lyptt commented on #161
Hi @maximkhatskevich, currently that's Struct's behaviour, however I can understand why that might be problematic. I have a suspicion the reason I didn't apply this behaviour was due to internal mechanisms between Xcode and the Xcodegen gem conflicting when attempting to separate these properties out. The result of this is was that searching for targets to link against would fail, which prevented

[2017-11-20 12:23] maximkhatskevich commented on #161
@lyptt okay, thanks for more details. Please, note, that this issue is not presented in pre-3.* version. As a temporary solution - I rolled back to 2.2.1.

[2018-01-19 16:41] steveholt55 opened #163 "More customization options with i18n-resources"
I'm wondering if it would be possible to add the ability to have some extra customization to which Strings files get included?  Much like how source files have an includes/excludes option.  I'm saying this because how I use struct is to build multiple different apps that may or may not have support for all of the languages that I have localization files for.

[2018-01-19 17:11] lyptt commented on #163
As far as I'm aware standard excludes sections are processed for i18n_resources in the same vain as sources, I'll double check this though! If the functionality isn't there already it's fairly simple to add.

[2018-01-26 17:20] tomachinz commented on #161
an example project.yml file would help anybody know of the location of one? like with
MyApp: "ExampleApplication"
etc

[2018-01-26 17:42] tomachinz opened #164 "Working example Mac app project.yml would help people seeing "Invalid spec file. Project should have at least one configuration""
## New Issue Checklist

For users just starting out, a working project.yml file to create a mac app would be nice. Here is one I reverse engineered from a basic app setup in XCode:

---
version: 2.1.0
configurations:
  Debug:
    overrides:
      CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION: YES_AGGRESSIVE
      CLANG_WARN_UNGUARDED_AVAILABILITY: YES_AGGRESSIVE
      MACOSX_DEPLOYMENT_TARGET: '10.12'

[2018-03-20 03:27] steveholt55 commented on #163
Thanks for taking a look at this.  I was able to test this out but I'm still unable to figure out how to make it work.  I've attached a sample project [lang_test.zip](https://github.com/lyptt/struct/files/1827807/lang_test.zip) that attempts to exclude one of the 2 language folders include in the directory.  Please let me know if you see something wrong with my project.yml.  I'll take a look and s

[2018-03-20 03:30] steveholt55 commented on #161
This issue seems to be affecting me as well.  I've also noted that rolling back to 2.2.1 fixes this issue for me but I need some of the fixes in the 3.X releases.

[2018-03-23 12:24] lyptt commented on #161
I'll have a look at this over the weekend, hopefully it's simple to resolve 👍

[2018-03-23 12:25] lyptt commented on #163
@steveholt55 thanks for attaching a sample project, I'll see what's going on

[2018-05-01 16:43] steveholt55 opened #165 "Can't add .tbd libraries to project"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

3.1.2

## Spec version

2.1.0

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

I'm trying to add a couple of .tbd libraries to my proje

[2018-08-05 15:55] aradhyaalamuru commented on #159
Hi, just started using Struct. Seems awesome thank you.

I'm having the same issue -
'Info.plist' file inside './src' not getting copied.

I tried with 'project.plist' file inside './src' and that is getting copied.

Details:
Struct version - 3.1.2
![screen shot 2018-08-05 at 9 21 37 pm](https://user-images.githubusercontent.com/17024041/43687607-93abd4aa-98f5-11e8-8384-ad49bade7f17.png)

project.

[2018-08-25 09:49] maximkhatskevich commented on #161
Looks like we are stuck here. Again, in my experience, this issue does not happen with Struct < 3.0, in particular v.2.2.1 works just fine, but, I believe, the root of this issue is in this commit https://github.com/lyptt/struct/commit/3ff73e46dda93af07ddf1bf6570dd14b6d03496e which is actually before v.2.2.1 has happened if you look in [commits history](https://github.com/lyptt/struct/commits/mast

[2018-08-25 21:26] maximkhatskevich commented on #161
As a workaround, I make it work for me as following.

I do NOT set `PRODUCT_NAME` build setting in spec file on target level, letting it to be set to `$(TARGET_NAME)` by default. Instead I set this property on project level and then I add a lifecycle hook (in particular — post-generation script) where I edit final project file via Xcodeproj and just set `PRODUCT_NAME` setting on target level to `$

[2018-08-26 11:28] lyptt commented on #161
Hi @maximkhatskevich , potentially you could also solve this by manually overriding the PRODUCT_NAME setting, e.g.:

[code]

[2018-08-27 10:01] maximkhatskevich commented on #161
@lyptt thanks for the advice, but I'm not sure I get it. First of all, what is this `$base` configuration identifier? I didn't know it exists, I only saw this key in `variants` section. And anyway, if I set `PRODUCT_NAME` explicitly in this section of spec, then Struct uses this value for the target name (see the commit I mentioned earlier), which is not what I want and will lead to a corrupted Xc

[2018-08-27 13:05] yonaskolb commented on #161
This is similar to the problem I was having in #146

[2018-08-28 10:36] lyptt commented on #161
Hi @maximkhatskevich, I've just had a look through the issue in its entirety. I think this comes down to our target resolution process, whereby targets are looked up by their PRODUCT_NAME when adding target dependencies, which explains why the two are intrinsically linked.

As explained in the readme I'm unable to work on struct directly at present, however pull requests are definitely welcomed. T

[2018-08-28 14:05] maximkhatskevich commented on #161
@lyptt no problem, as I explained above - I found a workaround with lifecycle hooks, and it's not a big deal, especially considering great value which Struct brings to my workflow overall.

P.S. I think we should keep this issue open so that people who encounter similar issue could easily find this thread.

[2018-10-02 10:59] janhalousek commented on #165
Same issue here. @steveholt55 have you found way around it?

[2018-10-03 09:28] lyptt commented on #165
Hey @steveholt55. Really sorry about the delay on this one. As far as I'm aware this is definitely supported, however it's not clearly documented which I'll address this week.

In order to link to non-framework system libraries, you omit the `lib` part, and the file extension, but otherwise it remains the same as frameworks, for example:

[code]

I've attached a full example that builds in Xcode w

[2018-10-03 09:28] lyptt commented on #165
@janhalousek you should be able to use this approach for any system library you're trying to link to also.

[2018-10-05 07:53] janhalousek commented on #165
@lyptt thanks for getting back to us. Unfortunately, using your documented approach (also tried your test project), system libraries get translated to `.dylib` referencies, which has been obsolete for few versions of XCode now.
Is there a way to reference `.tbd` libraries?
Thank you

[2018-10-05 08:08] lyptt commented on #165
@janhalousek as far as I remember although it has the dylib in the name, it's still essentially the same thing. Can you try it and see if it works?

I will have a look into how I do system library resolution, its implementation was done all the way back in Struct 1.0.0 so maybe it needs some tweaking.

[2018-10-05 08:16] janhalousek commented on #165
Yes, I think its usage might be the same, although the problem is that XCode nowadays has only tbd libraries bundled inside, so any path to dylib version of library is invalid. At least on my side :)

[2018-10-05 08:28] lyptt commented on #165
@janhalousek did Xcode fail to build after applying the above change to the project.yml? In my sample project Xcode appears to build and link the application fine with a dylib there.

[2018-10-05 08:31] lyptt commented on #165
This appears to also be functionality that's inherited by the [Xcodeproj](https://github.com/CocoaPods/Xcodeproj) project, as I just call `target_dsl.add_system_library [ref.name]`. Maybe a version bump would change this behaviour.

[2018-10-20 06:30] lyptt commented on #165
From the sounds of things this issue is resolved - please let me know if there's still complications here!

[2018-10-20 06:30] #165 closed

[2018-10-30 13:53] lyptt commented on #164
Hey @tomachinz, sorry for the incredibly delayed reply. I agree this would be very useful, fancy creating a PR since you've found one that works?

[2018-12-07 08:01] raptorxcz opened #167 "Add support for xcscheme TestableReferences to enable subproject unit testing"
##New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

3.2.0

## Spec version

2.2.0

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

I have 2 project files. One for application and one for f

[2018-12-07 09:58] lyptt commented on #167
Hey @raptorxcz, I think this would work by making use of the subproject feature to link your application to your framework. Xcode should then pick up the fact that the framework has unit tests, so when you hit Cmd+U you'll get both being run.

As an example:

[code]

[2018-12-07 10:00] lyptt commented on #167
FWIW if the above doesn't work but it does work without struct, then definitely feel free to attach an example of the above but created without struct. That way I can examine the project files and figure out what extra I need to do.

[2018-12-07 10:12] raptorxcz commented on #167
Thanks for feedback. I am not sure if I get it right. I have this in project.yml:

[code]

[2018-12-07 10:22] raptorxcz commented on #167
I made a diff so you can see what needs to be set.
![1](https://user-images.githubusercontent.com/3967087/49642090-59568d80-fa12-11e8-97bb-76e5f6c19c0c.png)
![2](https://user-images.githubusercontent.com/3967087/49642091-59568d80-fa12-11e8-9627-09ecebf84f0c.png)
![3](https://user-images.githubusercontent.com/3967087/49642092-59568d80-fa12-11e8-970d-bb6d7b44cee3.png)

[code]

[2018-12-07 10:50] lyptt commented on #167
Interesting! Looks like an xcscheme adjustment, that's not too bad.

[2018-12-11 07:53] raptorxcz commented on #167
I have been trying to implement this enhancement.
In project file is this list:
[code]

How do I get this list in `SchemeTestActionComponent`? I tried to implement this in https://github.com/raptorxcz/struct/commit/272abd00ff910f6c3b5d2488e9287576dbf6ee06. But I don't know how to get the list. I know the condition in find is wrong.

Thank you

[2018-12-11 09:00] lyptt commented on #167
Hey @raptorxcz, so it looks like what you'd need to do is:

For each SchemeTestActionComponent call, when iterating over the targets array containing StructCore::Specfile::Target elements, go through each target's references.

Check if the reference object is an instance of StructCore::Specfile::FrameworkReference, if it is then you've got a subproject.

The next bit is tricky - you'll have to ope

[2018-12-11 10:17] raptorxcz commented on #167
I read documentation and I can pass reference to project to Xcodeproj library.
https://www.rubydoc.info/gems/xcodeproj/Xcodeproj/XCScheme/TestAction/TestableReference#initialize-instance_method

[2018-12-19 23:56] lyptt commented on #167
Fixed by https://github.com/lyptt/struct/pull/168

[2018-12-19 23:56] #167 closed

[2019-03-14 06:09] brennanMKE opened #170 "Build Target for Aggregate is not supported with migrate command"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

3.2.1

## Spec version

2.1.0

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

I want to create a top level application project which h

[2019-03-14 08:07] lyptt commented on #170
Hey @brennanMKE, thanks for filing this issue. Could you attach a minimal sample that reproduces this?

[2019-05-15 09:19] ashhanai commented on #45
Hi @lyptt, in our project, we need to reference some folders to not have all the files in these folders at the same level in bundle. We use third party libraries, which depends on this folder hierarchy.
Is there any way how to make this possible with the current version of struct? If not, I am adding +1 to this enchantment 😁

[2019-05-15 11:12] lyptt commented on #45
Hey @ashhanai, can you explain your use case in a bit more detail? What are you trying to achieve with folder references?

[2020-05-13 07:54] tkafka opened #171 "Support for application.watchapp2-container"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

3.2.1

## Spec version

2.1.0

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

Apple has added a way to create independent watch apps i

[2020-05-13 22:26] lyptt commented on #171
Hey @tkafka, thanks for filing this issue. This shouldn't be too hard to add support for, I'll aim to get something released by the end of the week that adds this in.

[2020-05-25 22:39] lyptt commented on #171
This is now released with v4.0.0. If you notice any further issues, please feel free to file an issue 🙂

[2020-05-25 22:39] #171 closed

[2020-05-26 08:51] lyptt commented on #78
This can be achieved by specifying one of `GCC_PREPROCESSOR_DEFINITIONS` or `SWIFT_ACTIVE_COMPILATION_CONDITIONS` in a configuration block. No DSL extension is planned to enhance this currently.

[2020-05-26 08:51] #78 closed

[2020-05-26 08:52] lyptt commented on #161
Closing this for now until there is further interest in changing this behaviour.

[2020-05-26 08:52] #161 closed

[2020-05-26 08:55] lyptt commented on #163
This appears to no longer be happening on the latest version of struct. Please let me know if it's still an issue for you.

[2020-05-26 08:55] #163 closed

[2020-05-26 08:56] lyptt commented on #43
No high level DSL is currently planned for struct, if there's further interest in this enhancement please feel free to file a new issue.

[2020-05-26 08:56] #43 closed

[2020-05-26 08:57] lyptt commented on #38
No Fastlane integration is currently planned, if there's further interest in this please feel free to file a new issue.

[2020-05-26 08:57] #38 closed

[2020-05-26 11:51] lyptt commented on #66
I'm gonna go ahead and close this and keep following the strategy of supporting the project types struct's users request specifically, mainly to keep the maintenance overhead down.

[2020-05-26 11:51] #66 closed

[2020-05-26 18:05] lyptt commented on #62
Contributors guide added to the wiki

[2020-05-26 18:05] #62 closed

[2020-09-16 16:57] khoogheem opened #173 "SPM Support?"
# Struct version

4.0.1

## Which type of spec are you using?

- [x] project.yml

Any plans on allowing the addition of Swift Package Manager imports via struct.
Currently if you try to migrate a project with SPM in you get this:

`undefined method `source_tree' for nil:NilClass`

[2020-09-25 18:57] lyptt commented on #173
Hey @khoogheem, sorry for the delay, I've only just seen this.

I'll take a look and see how they're structured in xcodeproj files, if it's possible I'll definitely add support!

[2020-09-29 20:04] RomanPodymov opened #174 "Multiple values for platform"
## New Issue Checklist

- [x] Updated struct to the latest version
- [x] I have read the [documentation](https://github.com/workshop/struct/wiki) to make sure my issue isn't covered already

## Struct version

4.0.1

## Spec version

3.0.0

## Which type of spec are you using?

- [x] project.yml
- [ ] project.json
- [ ] Specfile

## Context

I should support iOS and tvOS for one of my projects. I

[2020-12-29 10:16] #174 closed

[2021-05-13 09:45] arvin244 opened #175 "Installation Issue - Please Help"
## Can't run after installing

I installed struct using gem install struct.  it successfully installs, but struct doesn't seem to be working.

I'm using ruby 2.6.3p62, on an M1 mac on Big Sur v11.1

Any ideas on how I can fix this issue?

Below is the output after running the command struct -v

## Error Message

 ~ % struct -v
Traceback (most recent call last):
	25: from /usr/local/bin/struct:23:i

[2021-07-29 08:38] adarshjayan7574 opened #176 "Pass value to yml file and replace the configuration template"
## Can't access environment variables inside yml file

- I am trying to create a interactive shell which collects some required information from user and then it passes the data to yml by setting environment variables, but unfortunately yml file is not accessing environment variable

If this method is not possible then please suggest some alternative method to acheive the same result

Code Block